.at-body{
    margin-top: 38px;
    margin-left: 30px;
    margin-right: 30px;
}

.fix-asset-list{
    width: 320px;
    z-index:1000;
    position: fixed;
    height: 100%;
}

.detail-window{
    margin-left: 330px;
}

.at-sub-heading{
    height: 20px;
    font-family: Arial;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: 0.3px;
    text-align: left;
    color: #737a8a;
}

.at-assets-table{
    margin-top: 16px;
    margin-bottom: 16px;
    height: 90%;
    overflow-y: scroll;
}

.at-asset-details{
    margin-top: 10px;
}

.at-asset-details:last-child{
    padding-bottom: 46px;
}

.at-img-div{
    float: left;
}

.at-img{
    width: 70px;
    height: 100px;
}

.at-detail-div{
    float: left;
    width: 220px;
    height: 100px;
    border-radius: 4px;
    background-color: #f7f7f7;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.at-h3{
    height: 14px;
    font-family: Arial;
    font-size: 12px;
    line-height: 1.27;
    letter-spacing: 0.3px;
    text-align: left;
    color: #abadb3;
}

.m-t-15{
    margin-top: 15px;
}

.at-active-div{
    background-color: #fff;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.at-liv-div{
    text-align: center;
}

.liv-tik-img{
    height: 45px;
}

.liv-asset-img{
    height: 154px;
}

.at-cong-div{
    margin-top: 30px;
    height: 82px;
    font-family: Arial;
    text-align: center;
    color: #262933;
    font-size: 26px;
    line-height: 1.14;
}

.at-cong-msg-div{
    font-size: 17px;
    line-height: 1.71;
}

.at-liv-q-div{
    width: 500px;
    border-radius: 10px;
    background-color: #f0f0f2;
    padding: 35px;
    margin: auto;
}

.at-liv-h{
    text-align: center;
    height: 20px;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #262933;
}

.at-liv-que{
    height: 17px;
    margin-top: 34px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: normal;
    text-align: left;
    color: #262933;
    width: 100%;
}

.at-circle{
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: transparent;
    float: left;
    margin: 6px;
    border: solid 2px #3f424d;
}

.fail-asset-circle{
    width: 30px;
    height: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: transparent;
    border: solid 1px #c7cad0;
}

.at-liv-ans{
    height: 17px;
    font-family: Arial;
    font-size: 13px;
    margin-top: 8px;
    margin-left: 21px;
    color: #909299;
    text-align: left;
}

.at-liv-que-text{
    float: left;
}

.at-que-guide{
    width: 100%;
    font-family: Arial;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: 0.3px;
    text-align: left;
    color: #737a8a;
    padding: 23px;
    background-color: #f0f0f2;
    margin-top: 16px;
}

.at-qa-q{
    font-family: Arial;
    font-size: 12px;
    text-align: left;
    color: #3f424d;
    font-weight: bold;
}

.at-qa-a{
    font-family: Arial;
    font-size: 12px;
    text-align: left;
    color: #909299;
    margin-top: 10px;
}

.at-q-guide-hr{
    height: 1px;
    background-color: #c8c9cc;
}

.detail-tik-img{
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.detail-box{
    margin-left: 30px;
    height: 100px;
}

.gadget-success-img{
    width: 42px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 14px;
}

.at-status-text{
    height: 20px;
    font-family: Arial;
    font-size: 13px;
    letter-spacing: 0.3px;
    text-align: left;
    color: #252833;
}

.at-date-text{
    height: 16px;
    font-family: Arial;
    font-size: 14px;
    text-align: left;
    color: #909299;
    margin-top: 2px;
}

.bottom-line{
    border-bottom: 1px solid #e3e4e6;
    padding-bottom: 14px;
}

.p-r-20{
    padding-right: 20px;
}

.p-t-20{
    padding-top: 14px;
}

.fail-asset{
    opacity: 0.3;
}

.green-line{
    color: #6fca66;
    width: 2px;
    background-color: #6fca66;
    height: 25px;
    margin: auto;
}

.red-line{
    color: #f58268;
    width: 2px;
    background-color: #f58268;
    height: 25px;
    margin: auto;
}

.h-79{
    height: 79px;
}

.line-div{
    height: 25px;
    text-align: center;
    margin-right: 15px;
}

.at-small-head{
    color : #676a6c
}

@media (min-width: 768px) {
    .asset-page {
        min-height: 1136px;
    }
}

@media (max-width: 768px) {
    .asset-page {
        position: inherit;
        margin: 0 0 0 0;
        min-height: 936px;
    }
}