.faq-heading{
    text-align: center;
}

.faq-sub-heading{
    color: #95969e!important;
    text-align: center;
    margin-bottom: 34px;
    font-size: 16px;
}

.faq-box{
    padding: 15px 0px;
    border-top: 1px solid rgba(10,11,49,.2);
    border-bottom: 1px solid rgba(10,11,49,.2);
}

.faq-que{
    font-family: AvenirNextLTPro-Regular!important;
    font-size: 18px;
}

.faq-ans{
    display: none;
    font-size: 14px;
    margin: 0 0 16px;
    padding-top: 15px;
}

.faq-row{
    margin: 40px;
}

.no-display{
    display: none;
}