.heading{
    font-weight: bold;
}


.main{
    background-color: white;
    font-family: 'Open Sans';/*Proxima Nova*/
    color:black;
}

.comp-details{
    border-bottom: 2px solid black;
    padding-bottom: 2%;
}
.sub-main{
   padding-left:10%;
    padding-right:6%;
}
.invoice-heading{
    font-weight: bold;
}
.heading-left{
    padding-left: 2%;
}
.heading-left img{
    margin-left: -5%;
}
.heading-left-sub{
    padding-top:2%;
}
.heading-right{
    padding-left: 20%;
    padding-top: 2%;
}
.heading-right-sub{
    padding-top:10%;
}
hr.style-one {
    border: 0;
    height: 4px;
    background: #333;
}
.payment-type{
    font-size: 15px;
    padding-bottom: 2%;
}
.amount{
    font-size: 15px;
}
hr.style-two{
    border: 0;
    height: 1px;
    background: #333;
}

.left-space{
    padding-left: 2%;
}
.p-small{
    font-size: 10px;
}
.item-desc{
    padding-left: -5%;
}
.order-header{
    margin-top: 2%;
    padding-top: 1%;
    border-top: 1px solid black;
    padding-bottom: 1%;
}
.addr{
    font-size: 12px;
}
.data-row{
    padding-top: 1%;
    padding-bottom: 1%;
}
.order-desc{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.sub-order{
    border-bottom: 1px solid black;
    padding-top: 1%;
}
.discount{
    margin-top:1%;
    background-color: rgba(128,128,128,0.15);
    padding-top: 1%;
    padding-bottom: 1%;
}
.grand-total{
    padding-top: 1%;
    padding-bottom: 1%;
}

@media print {
    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
        width:100%;
    }
    /*#invoice {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        /!*page-break-after: always;*!/
        padding: 0px 5px 0px 5px;
        page-break-after: avoid;
    }*/
}

.weight{
    font-weight: 600;
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    #invoice {
    page-break-after: always;

        /*page-break-after: avoid;*/
    }
    .invoice-heading{
        color: #1F2B3B;
    }
}