body{
    background-color: rgba(26,30,30,0.8);
}

.panel{
    padding: 20px;
}

.nav-logo{
    height: 19px;
    padding-left: 23px;
    margin-top: 10px;
}

#wrapper{
    background-color: #40485a;
}

.opsbutton{
    background-color: #1ab394 !important;
    color : #fff !important;
}

.nav-top{
    margin-top: -57px;
}

.fa-flyrobe:before{
    content: url('../img/ops-dashboard.png') !important;
}

.fa-refresh:before{
    content: url('../img/refresh.png') !important;
}

.fa-home:before{
    content: url('../img/home.png') !important;
}

.fa-orders:before{
    content: url('../img/orders.png') !important;
}

.fa-reports:before{
    content: url('../img/reports.png') !important;
}

.fa-question:before{
    content: url('../img/faq.png') !important;
}

.fa-drop-off:before{
    content: url('../img/drop-off.png') !important;
}

.fa-pickup:before{
    content: url('../img/pickup.png') !important;
}

.fa-item-list:before{
    content: url('../img/item-list.png') !important;
}

.fa-payment:before{
    content: url('../img/payment.png') !important;
}

.fa-setting:before{
    content: url('../img/setting.png') !important;
}

.fa-logout:before{
    content: url('../img/logout.png') !important;
}

.fa-pencil:before{
    content: url('../img/pencil.png') !important;
}

.fa-tour:before{
    content: url('../img/tour.png') !important;
}

.fa-custom-calendar:before{
    content: url('../img/calendar.png') !important;
}

.fa-custom-list:before{
    content: url('../img/view.png') !important;
}

.fa-custom-cancel:before{
    content: url('../img/cross.png') !important;
}

.fa-place-order:before{
    content: url('../img/order.png') !important;
}

.fa-sales-report:before{
    content: url('../img/sales.png') !important;
}

.fa-view-inventory:before{
    content: url('../img/inventory.png') !important;
}

.fa-pencil{
    float: left;
    height: 32px;
    border: 1px solid #e5e6e7;
    border-left: none;
    cursor: pointer;
}

.navigation-a{
    padding: 4px !important;
    padding-left: 14px !important;
}

.nav_header{
    background: #293846;
}

.navlist > li {
    border-left: 4px solid transparent;
    height: 50px;
}

.nav > li > a{
    color: #c7cad0;
}

.navlist > li > a {
    height: 50px !important;
}

.navlist > li > a > div {
    margin-top: -25px;
    margin-left: 34px;
    font-size: 13px;
}

.navlist > li.active {
    border-left: 4px solid #ed6655;
    background: #626671;
    /*height: 100%;*/
    height: 50px !important;
}

.navlist > li:hover {
    border-left: 4px solid #ed6655;
    background: #626671 !important;
    /*height: 100% !important;*/
    height: 50px !important;
}

.navlist > li > a.active, .navlist > li > a:hover {
    background: transparent !important;
}

.minimize{
    width: 50%;
}

.minimize > span > a{
    background: transparent;
    border: 0px;
    color: #404858;
    font-size: 20px;
}

#navbar {
    background-color: #fff;
}

.page-nav > li > a {
    color: #000;
}

/*.mini-navbar li.active .nav-second-level, li:hover > .nav-second-level {*/
    /*width: 168px !important;*/
/*}*/

.fa-home, .fa-orders, .fa-reports, .fa-payment, .fa-setting, .fa-logout, .fa-book, .fa-tour, .fa-question,
.fa-drop-off, .fa-pickup, .fa-item-list, .fa-place-order, .fa-sales-report, .fa-view-inventory{
    font-size: 40px;
    color: #fff;
}

.upper-ul{
    position: fixed;
    top: 0;
    width: 220px;
    overflow-y: auto;
    bottom: 150px;
    border: 1px solid #40485a;
}

.lower-ul{
    position: fixed;
    bottom: 0px;
    background: #40485a;
    width: 220px;
}

.nav-second-level li a {
    padding: 14px 20px 14px 25px;
    padding-left: 52px;
    margin-left: 25px;
}

.middle-box h1 {
     font-size: small;
}

.middle-box {
    padding-top: 95px;
}

/************ Common *****************/

.sk-spinner-chasing-dots .sk-dot1,
.sk-spinner-chasing-dots .sk-dot2 {
    background-color: #1c2c40;
}

.pointer{
    cursor: pointer;
}

.btn, .btn:hover{
    background-color: #1c2c40;
    color : #ffffff;
}

.modified-wrapper{
    padding: 0px 0px 40px;
}

.mainTable{
    overflow-y:scroll;
    max-height:400px;
    display:block;
}

.dialog-btn{
    width: 116px;
    height: 42px;
    border: solid 1px #abafb9;
    background: transparent;
    color: #5e6679;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.3px;
    padding: 11px 32px;
}


/************ Parsley *****************/

.ng-error{
    color:#f05050;
    font-size:12px
}

.form-control + .form-control-feedback,
.form-control + .parsley-errors-list + .form-control-feedback {
    right: 0;
    left: auto;
    top: 10px;
}
.input-sm + .form-control-feedback,
.input-sm + .parsley-errors-list + .form-control-feedback {
    top: 0;
}
label + .form-control + .form-control-feedback,
label + .form-control + .parsley-errors-list + .form-control-feedback {
    top: 36px;
}

.parsley-error {
    border-color: #f05050 !important;
}
.parsley-errors-list {
    display: none;
    margin: 0;
    padding: 0;
}
.parsley-errors-list.filled {
    display: block;
}
.parsley-errors-list > li {
    text-align: left;
    font-size: 12px;
    list-style: none;
    color: #f05050;
}


/************** Login Page ************/
.logo-name{
    height: inherit;
    margin-bottom: 24px;
    margin-top: 40px;
}

.remember-me{
    width: 116px;
    height: 16px;
    font-family: ArialMT;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #8f95a2;
}

.login-submit-btn{
    width: 108px;
    margin: auto;
    margin-top: 20px;
}

.lg-forgot-password{
    size: 14px;
    letter-spacing: 0.3px;
    color: #1f2a44;
    margin-top: 30px;
    font-family: ArialMT;
    cursor: pointer;
}

.recover-heading{
    height: 22px;
    font-family: ArialMT;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: center;
    color: #343e56;
}

.resetSuccessfulMsg{
    height: 54px;
    font-family: ArialMT;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.3px;
    text-align: center;
    color: #5e6679;
}

/************** Change Password Page ************/

.cp-submit-btn{
    width: 154px;
    margin: auto;
    margin-top: 20px;
}

/*************** Recover Page ***********/
.recover-label{
    float:left;
    font-weight: normal;
}

.recover-submit-btn{
    width: 108px;
    margin-top: 20px;
}


/*************** reset after forgot Page ***********/
.freset-submit-btn{
    width: 154px;
    margin: auto;
    margin-top: 20px;
}


/********************** home page ***********************/
.home-main-container{
    flex: 2;
}

.home-image-container{
    flex: 1;
    background: url(../img/homeScreen.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.home-main-container > div {
    margin-top: 40px;
    margin-left: 20px;
}

.home-pop-up-table > thead > tr > th{
    font-family: ArialMT;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: 0.2px;
    color: #737a8a;
}

.home-pop-up-table > tbody > tr > td{
    font-family: ArialMT;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #343e56;
}

.merchant-logo{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 30px;
}

.admin-heading{
    height: 33px;
    font-family: AvenirNextLTPro;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #737a8a;
}

.admin-message{
    height: 25px;
    font-family: AvenirNextLTPro;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #737a8a;
}

.home-row{
    margin-top: 26px;
}

.box-row{
    margin-bottom: 25px;
    display: flex;
}

.box-row > div{
    flex: 1;
    margin-right: 24px;
}

.home-number{
    height: 27px;
    opacity: 0.6;
    font-family: AvenirNextLTPro-Demi;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #737a8a;
}

.home-desc{
    max-width: 184px;
    font-family: AvenirNextLTPro;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: 0.1px;
    color: #737a8a;
}

.top-cate{
    width: 300px;
    font-family: ArialMT;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.3px;
    color: #737a8a;
}

.top-cate-table > tbody > tr{
    height:50px;
    width:100%;
}

.top-cate-table > tbody > tr > td{
    font-family: ArialMT;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: 0.2px;
    color: #737a8a;
}

.home-datepicker{
    height: 32px;
    cursor: pointer;
    float: left;
    background-color: transparent !important;
    background-image: url(../img/pencil.png) !important;
    background-repeat: no-repeat;
    background-position: 99% 0px;
    background-size: 29px;
    width: 220px;
}


/**************** order page ******************/
.order-table > thead > tr > th{
    font-family: ArialMT;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 0.2px;
    color: #737a8a;
}

.order-table > tbody > tr > td{
    /*font-family: ArialMT;*/
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #737a8a;
}

.order-pop-up-table > thead > tr > th{
    font-family: ArialMT;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: 0.2px;
    color: #737a8a;
}

.order-pop-up-table > tbody > tr > td{
    font-family: ArialMT;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #343e56;
}

.order-pop-up-heading{
    font-family: ArialMT;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: 0.3px;
    color: #737a8a;
    margin-bottom: 16px;
}

.order-top-row{
    background-color: #fff;
    height: 64px;
}

.order-dialogue > .ngdialog-content{
    width:75% !important;
}

.order-data-row{
    margin: 40px;
}

.order-heading{
    font-family: ArialMT;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: 0.3px;
    color: #737a8a;
    float: left;
    margin: 22px 0px;
}

.order-date-div{
    float: right;
    margin-top:17px;
    margin-bottom: 15px;
}

.order-date-div > input, .order-date-div > a{
    height: 32px;
}

.order-input{
    width: 200px;
    float: left;
    background-color: #fff !important;
    cursor: pointer;
    background-image: url(../img/pencil.png) !important;
    background-repeat: no-repeat;
    background-position: 99% 1px;
    background-size: 29px;
    width: 220px;
}

.order-download{
    border: solid 1px #e3e4e8;
    height: 32px;
    float: right;
    margin-top: 9px;
}

.order-row{
    margin-top: 70px;
}

.order-navbar{
    height: 51px;
    background-color: #fff;
    font-family: ArialMT;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 1px;
    text-align: center;
    color: #8f95a2;
}

.order-ul > li{
    margin: 15px 15px 0px 15px;
    padding-bottom: 15px;
}

.order-ul > li:hover, .order-active{
    border-bottom: solid 2px #5073dd;
}

.turnsModals-dialog, .turnsModals-dialog > .ngdialog-content{
    width: 541px !important;
    margin: auto !important;
    padding-top: 25px !important;
}

/******************** Settings *****************/
.setting-row{
    background: #fff;
    margin: 30px;
}

.set-merchant-block{
    padding: 24px 20px;
}

.set-merchant-que{
    font-family: ArialMT;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: 0.2px;
    color: #737a8a;
}

.set-merchant-ans{
    margin-top: 8px;
    font-family: ArialMT;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: 0.2px;
    color: #5073dd;
}

.set-merchant-details{
    height: 20px;
    font-family: Arial-MT;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: 0.2px;
    color: #737a8a;
}

.set-details{
    margin-top: 20px;
}

.set-name{
    width: 160px;
    min-height: 1px;
    float: left;
    font-family: ArialMT;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: 0.2px;
    color: #737a8a;
}

.set-value{
    float: left;
    font-family: ArialMT;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: 0.2px;
    color: #737a8a;
}

.logo-update-input{
    width: 90px;
    height: 20px;
}

.set-upload-text{
    float: left;
    padding-top: 5px;
    padding-left: 20px;
}

.set-bank-input{
    border: 0px;
    border-bottom: 1px solid #e3e4e6;
}

.set-bank-input:focus, .set-bank-input:active{
    border: 0px;
    border-bottom: 1px solid #e3e4e6;
    outline: none !important;
    box-shadow: 0;
}

.set-error{
    font-size: 10px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    font-size: 11px;
    padding: 7px 25px 7px 25px;
    vertical-align: bottom;
    float: left;
    text-align: center;
    width: 90px;
    height: 28px;
    border-radius: 2px;
    background-color: #fafafa;
    border: solid 0.5px #e5e6e7;
    color: #737a8a;
    cursor: pointer;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.btn-change{
    width: 119px;
    height: 28px;
    border-radius: 2px;
    background-color: #fafafa;
    border: solid 0.5px #e5e6e7;
    font-size: 11px;
    color: #737a8a;
    letter-spacing: 0.3px;
}

.set-consignment-details{
    margin: 30px;
    width: 195px;
    height: 20px;
    font-family: AvenirNextLTPro;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.3px;
    color: #737a8a;
}

.set-consign-no{
    padding-top: 19px;
    padding-left: 17px;
    padding-bottom: 17px;
}

/******************* Payment *****************/
.payment-row{
    margin: 24px 39px;
}


.pay-box1{
    float: left;
    width: 79px;
    height: 84px;
    border-right: solid 1px #d7e0f9;
    border-radius: 3px;
    background-color: #ebf0fd;
}

.pay-box2{
    float: left;
    height: 84px;
    border-radius: 3px;
    background-color: #ebf0fd;
    width: 427px;
    padding: 18px;
}

.pay-current{
    float: left;
    width: 237px;
    height: 20px;
    font-family: ArialMT;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.3px;
    color: #5e6679;
}

.pay-amount{
    float: right;
    height: 20px;
    font-family: Arial-MT;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.4px;
    color: #5e6679;
}

.pay-period{
    width: 237px;
    height: 20px;
    font-family: ArialMT;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.3px;
    color: #8f95a2;
}

.payment-navbar{
    height: 51px;
    background-color: #fff;
    font-family: ArialMT;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 1px;
    text-align: center;
    color: #8f95a2;
}

.payment-ul > li{
    margin: 15px 15px 0px 15px;
    padding-bottom: 15px;
}

.payment-ul > li:hover, .payment-active{
    border-bottom: solid 2px #5073dd;
    font-family: ArialMT;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 1px;
    text-align: center;
    color: #343e56;
}

.past-payment{
    padding: 21px;
    font-family: ArialMT;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.3px;
    color: #737a8a;
    background-color: #fff;
}

.no-table-options .no-footer .dataTables_length,
.no-table-options .no-footer .dataTables_filter,
.no-table-options .no-footer .dataTables_info,
.no-table-options .html5buttons,
.no-table-options .no-footer .paging_simple_numbers{
    display: none !important;
}

.head-style{
    background-color: #fafafa;
}

.payment-accept{
    width: 64px;
    height: 28px;
    border-radius: 3px;
    background-color: #6eca65;
    border: solid 1px #56ac4e;
    /*font-family: Arial-MT;*/
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: 0.3px;
    text-align: center;
    color: #fafafa;
}

.payment-reject{
    width: 64px;
    height: 28px;
    border-radius: 3px;
    background-color: #f58367;
    border: solid 1px #d36e55;
    /*font-family: Arial-MT;*/
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: 0.3px;
    text-align: center;
    color: #fafafa;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.at-arrow{
    color: #757575;
    height: 100%;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
}

.text-red{
    color: red !important;
}

/*.bg-red{
    background-color: red !important;
}

.bg-red > td{
    color : #fff !important;
}*/

.top-row{
    background-color: #fff;
    height: 64px;
}

.top-heading{
    font-family: ArialMT;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: 0.3px;
    color: #737a8a;
    float: left;
    margin: 22px 0px;
}

.w-50{
    width: 50px;
}

.w-40{
    width: 40px;
}

.w-48{
    width: 48px !important;
}

.w-33{
    width: 33px !important;
}

.custom-cursor-bg{
    cursor: pointer;
    background: transparent !important;
}

.parsley-success .custom-error{
    text-align: left;
    font-size: 12px;
    list-style: none;
    color: #f05050 !important;
}

.custom-error{
    text-align: left;
    font-size: 12px;
    list-style: none;
    color: #f05050 !important;
}


._720kb-datepicker-calendar-header:nth-child(odd) {
    background: transparent !important;
}

._720kb-datepicker-calendar-days-header {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2% 0 2%;
    background: transparent !important;
    border-bottom: 1px solid rgba(0,0,0,0.02);
}

._720kb-datepicker-calendar-body {
    width: 96%;
    margin: 2%;
    text-align: center;
    background: #f7f7f7 !important;
}

._720kb-datepicker-calendar-day:hover, ._720kb-datepicker-calendar-day._720kb-datepicker-active {
    background: rgba(0, 0, 0, 1) !important;
    border-radius: 50% !important;
    color: #fff !important;
}

._720kb-datepicker-calendar-month {
    font-family: Arial;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #494d56;
}

._720kb-datepicker-calendar-day._720kb-datepicker-disabled, ._720kb-datepicker-calendar-day._720kb-datepicker-disabled:hover, ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-disabled, ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-disabled:hover, ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-active._720kb-datepicker-disabled, ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-active._720kb-datepicker-disabled:hover {
    color: rgba(0,0,0,0.2);
    background: transparent !important;
    cursor: default;
}

._720kb-datepicker-calendar-month span {
    font-family: Arial;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    text-align: center;
    color: #494d56;
}

.w-100p{
    width: 100%;
}

.w-50p{
    width: 50%;
}

.p-5{
    padding: 5px;
}

.m-b-10{
    margin-bottom: 10px;
}

.m-t-15{
    margin-top: 15px;
}

.m-t-5{
    margin-top: 5px;
}

.inbound-ngDialog-img{
    max-width: 385px;
}

.agreement-dialogue{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 50px;
    bottom: 50px !important;
}

.agreement-dialogue >  .ngdialog-content{
    width: 75% !important;
    height: 100%;
}
.agreement-dialogue >  .ngdialog-content > .ngdialog-message,
.agreement-dialogue >  .ngdialog-content > .ngdialog-message > .ibox-content{
    height: 100%;
}

.login-agreement{
    width:100%;
    height: 85%;
    max-height: 85%;
    border : 1px solid rgb(27, 44, 64);
}

/******************** media *******************/
@media (max-width: 768px) {

    .body-small .navbar-static-side {
        display: block;
        z-index: 2001;
        position: absolute;
        width: 220px;
    }

    #page-wrapper {
        position: inherit;
        margin: 0 0 0 220px;
        min-height: 2002px;
    }

}

@media print{
    .non-print{
        visibility: hidden;
        display: none;
    }
}


/****************** scrollbar START ****************/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #40485a;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #40485a;
}
/****************** scrollbar END ****************/
