.text-payment-modal{
    width: 282px;
    font-family: ArialMT;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.3px;
    text-align: center;
    color: #5e6679;
    margin: auto;
}

.cancel-payment-modal{
    margin-top:20px;
    width: 116px;
    height: 42px;
    border: solid 1px #abafb9;
}

.ok-payment-modal{
    margin-top:20px;
    margin-left: 20px;
    width: 116px;
    height: 42px;
    border: solid 1px #abafb9;
}

.payment-table > thead > tr > th{
    font-family: ArialMT;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 0.2px;
    color: #737a8a;
}

.payment-table > tbody > tr > td{
    font-family: ArialMT;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    color: #343e56;
}

.disable-btn{
    background: darkgray;
    border: 1px solid darkgray;
    color:#fff;
}