.sweet-alert[data-has-cancel-button=false] button{
    width: 116px;
    height: 42px;
    border: solid 1px #abafb9;
    background: transparent !important;
    color: #5e6679;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.3px;
    padding: 11px 32px;
}