<!--
* FLYROBE - Responsive Dashboard



       _/_/_/ _/_/   _/      _/        _/   _/_/_/ _/_/     _/_/_/_/_/__/      _/_/_/ _/_/       _/_/_/ _/_/
      _/            _/        _/      _/   _/       _/     _/         _/      _/       _/       _/
     _/            _/          _/   _/    _/_/_/_/_/      _/         _/      _/       _/       _/
    _/_/_/_/_/    _/            _/_/     _/_/            _/         _/      _/_/_/ _/_/       _/_/_/_/ _/_/
   _/            _/             _/      _/   _/         _/         _/      _/       _/       _/
  _/            _/              _/     _/      _/      _/         _/      _/       _/       _/
 _/            _/_/_/_/_/_/     _/    _/        _/    _/_/_/_/_/__/      _/_/_/ _/_/       _/_/_/_/ _/_/




*
-->

<!DOCTYPE html>
<html ng-app="flyrobe">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Font awesome -->
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Main Flyrobe CSS files -->
    <link href="css/animate.css" rel="stylesheet">
    <link id="loadBefore" href="css/style.css?v=17102016-1" rel="stylesheet">

    <!--<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">-->
    <!--<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">-->

    <link href="js/plugins/ng-joyride/ng-joyride.css" rel="stylesheet">
    <link href="plugins/angular-datepicker/css/angular-datepicker.css" rel="stylesheet">
    <link href="css/new_style.css?v=20170316-1" rel="stylesheet">


</head>

<!-- ControllerAs syntax -->
<!-- Main controller with serveral data used in Flyrobe theme on diferent view -->
<body ng-controller="MainCtrl as main" class="{{$state.current.data.specialClass}}" landing-scrollspy id="page-top">
      <!--ng-joy-ride="startJoyRide" on-finish="onFinish()"  on-skip="onFinish()">-->

<!-- Main view  -->
      <div class="hide" ng-joy-ride="main.startJoyRide" config="main.config" on-finish="main.startJoyRide = false && onFinish()"  on-skip="main.startJoyRide = false && onFinish()"></div>
      <div ui-view class="non-print"></div>

<!-- jQuery and Bootstrap -->
<script src="js/jquery/jquery-2.1.1.min.js"></script>
<script src="js/plugins/jquery-ui/jquery-ui.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>

<!-- MetsiMenu -->
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>

<!-- SlimScroll -->
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Peace JS -->
<script src="js/plugins/pace/pace.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="js/flyrobe.js"></script>
<script src="js/plugins/moment/moment.min.js"></script>

<!-- Main Angular scripts-->
<script src="js/angular/angular.min.js"></script>
<script src="js/angular/angular-sanitize.js"></script>
<script src="js/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>
<script src="js/angular-translate/angular-translate.min.js"></script>
<script src="js/ui-router/angular-ui-router.min.js"></script>
<script src="js/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>
<script src="js/plugins/angular-idle/angular-idle.js"></script>
<script src="js/plugins/ngStorage/ngStorage.js"></script>
<script src="js/plugins/ng-joyride/ng-joyride.js"></script>
      <script src="plugins/angular-datepicker/js/angular-datepicker.js"></script>

<!-- Anglar App Script -->
<script src="js/app.js??v20161227-1"></script>
<script src="js/config.js?v20170703-1"></script>
<script src="js/translations.js"></script>
<script src="js/directives.js"></script>
<script src="js/controllers.js?v20170315-2"></script>

<!-- Filter -->
<script src="js/filter/payment-status-filter.js?v20170221-1"></script>

<!-- Directives -->
<script src="js/directive/numbers.js?v20180702-1"></script>
<script src="js/directive/validateJS.js?v20170123-1"></script>
<script src="js/directive/file-model.js?v20180704-1"></script>

<!-- Service -->
<script src="js/service/DateTimeService.js?v20171114-1"></script>

<!--Different Controller-->
<script src="js/controllers/login.js?v20170118-2"></script>
<script src="js/controllers/change-password.js?v20170216-1"></script>
<script src="js/controllers/reset.js?v20170123-1"></script>

<script src="js/controllers/merchant/home-ctrl.js?v20170330-1"></script>
<script src="js/controllers/merchant/orders-ctrl.js?v20170421-1"></script>
<script src="js/controllers/merchant/payment-ctrl.js?v20170310-2"></script>
<script src="js/controllers/merchant/reports-ctrl.js?v20170201-2"></script>
<script src="js/controllers/merchant/setting-ctrl.js?v20170201-2"></script>
<script src="js/controllers/merchant/assets-tracking-ctrl.js?v20171201-1"></script>
<script src="js/controllers/merchant/faq-ctrl.js?v20171221-1"></script>

<script src="js/controllers/particular-merchant/picked-up-ctrl.js?v20170201-2"></script>
<script src="js/controllers/particular-merchant/drop-off-ctrl.js?v20170201-2"></script>
<script src="js/controllers/particular-merchant/item-list-ctrl.js?v20180105-1"></script>

<script src="js/controllers/partner-store/add-to-cart-ctrl.js?v20180702-1"></script>
<script src="js/controllers/partner-store/sales-report-ctrl.js?v20180706-1"></script>
<script src="js/controllers/partner-store/view-inventory-ctrl.js?v20180706-1"></script>

</body>
</html>
