.top-row{
    background-color: #fff;
    height: 64px;
}

.ac-top-heading{
    font-family: ArialMT;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: 0.3px;
    color: #737a8a;
    float: left;
    margin: 22px 0px;
}

.ac-create-component{
    height: 70px;
}

.ac-image{
    max-width: 100%;
}

.ac-hr{
    width: 100%;
    color: #f3f3f4;
    margin: 12px 0px 12px 0;
    border: 1px solid #f3f3f4;
}

.ac-qty-input{
    width:40px;
    margin-left: 10px;
}

.ac-tab-btn{
    height: 50px;
    border: 1px solid #1c2c40;
    background: #fff;
    color : #1c2c40;
    font-size: 13px;
    font-weight: 600;
    padding-top: 14px;
    text-align: center;
}

.ac-tab-btn.active,
.ac-btn.active, .ac-btn:focus{
    background: #1c2c40 !important;
    color : #fff !important;
}

.ac-cart-image{
    height: 100px;
    max-width: 100%;
}

.ac-otp-btn{
    margin-top: 22px;
}

.ac-thumbnail-image{
    height: 50px;
    margin: 2px;
    border: 2px solid #000;
}

.ac-disable-btn{
    opacity: 0.1;
}
