.droppedoff-top-row{
    background-color: #fff;
    height: 64px;
}

.droppedoff-heading{
    font-family: ArialMT;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: 0.3px;
    color: #737a8a;
    float: left;
    margin: 22px 0px;
}

.droppedoff-date-div {
    float: right;
    margin-top:17px;
    margin-bottom: 15px;
}

.droppedoff-input{
    width: 200px;
    float: left;
    background-color: #fff !important;
    cursor: pointer;
    background-image: url(../../img/pencil.png) !important;
    background-repeat: no-repeat;
    background-position: 99% 1px;
    background-size: 29px;
    width: 224px !important;
}