.ngdialog.ngdialog-theme-default {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 60px !important;
}

.item-category-div {
    float: right;
    margin-top:17px;
    margin-bottom: 15px;
}

.item-list-ui-select{
    width: 224px !important;
}

.il-view-order-dialog > .ngdialog-content{
    min-width: 930px ;
}

.il-view-order-dialog > .ngdialog-content > .ngdialog-message > .ibox-content{
    min-height : 400px !important;
    max-height: 572px;
    overflow-y: auto;
}

.il-block-date-dialog > .ngdialog-content > .ngdialog-message > .ibox-content{
    min-height : 550px !important;
    overflow-y: auto;
}

.il-form-div{
    min-height: 60px;
}

.il-cancel-btn{
    width: 108px;
    margin: auto;
}

.il-unavailable-btn{
    font-size: 12px;
    background: #40485a !important;
    margin-bottom: -29px;
    margin-left: 169px;
}

.il-unavailable-btn.focus, .il-unavailable-btn:focus, .il-unavailable-btn:hover {
    color: #fff!important;
    background: #40485a !important;
}

.il-view-order-btn{
    width: 90px;
    height: 28px;
    border-radius: 4px;
    background-color: #40485a;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 7px;
}

.il-block-date-btn{
    width: 90px;
    height: 28px;
    border-radius: 4px;
    background-color: #40485a;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 7px;
    margin-top: 5px;
}

.il-btn-cancel{
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #c7cad0;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #252a38;
}

.il-btn-yes{
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.il-btn-yes.focus, .il-btn-yes:focus, .il-btn-yes:hover {
    color: #fff!important;
    background: #40485a !important;
}
