.vi-img{
    max-width:100%;
    max-height: 150px;
}

.vi-sku-div{
    margin: 5px;
    border: 2px solid #ccb8b8;
    height: 200px;
    padding: 6px;
    position: relative;
}

.vi-content-div{
    position: absolute;
    bottom: 0px;
    width: 95%;
    border-top: 1px solid #ccb8b8;
}