<div class="modified-wrapper animated fadeInRight" ng-controller="addToCart as ac">

    <div class="col-lg-12" ng-show="ac.spinner">
        <div class="spiner-example">
            <div class="sk-spinner sk-spinner-chasing-dots">
                <div class="sk-dot1"></div>
                <div class="sk-dot2"></div>
            </div>
        </div>
    </div>

    <!-- Heading Top Row -->
    <div class="row top-row" ng-hide="ac.spinner">
        <div class="col-lg-12">
            <div class="ac-top-heading">Add To Cart</div>
        </div>
    </div>

    <div  ng-hide="ac.spinner">

        <div class="row order-data-row">

            <div class="col-lg-2"></div>

            <div class="col-lg-8">

                <!-- Tab START -->
                <div class="ibox">

                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="w-100p">
                                    <a class="w-50p ac-tab-btn float-left step_pts_2"
                                       ng-class="{ 'active' : ac.active_tab == 'SEARCH'}"
                                       ng-click="ac.active_tab = 'SEARCH'">
                                        Search SKU
                                    </a>
                                    <!--<a class=" w-50p ac-tab-btn float-left step_pts_3" ng-class="{ 'active' : ac.active_tab == 'CREATE','ac-disable-btn' : ac.show_add_sku == false}"-->
                                    <!--ng-click="ac.show_add_sku ? ac.active_tab = 'CREATE' : ''">-->
                                    <a class=" w-50p ac-tab-btn float-left step_pts_3" ng-class="{ 'active' : ac.active_tab == 'CREATE'}"
                                       ng-click="ac.active_tab = 'CREATE'">
                                        Add New SKU
                                    </a>
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- Tab END -->

                <!-- Search START -->
                <div class="ibox" ng-if="ac.active_tab == 'SEARCH'">

                    <div class="ibox-content">

                        <div class="row">

                            <div class="col-xs-6">
                                <input type="text" class="form-control" ng-model="ac.sku_id" placeholder="SKU ID"/>
                            </div>

                            <div class="col-xs-6">
                                <button type="submit" class="btn ac-btn" ng-click="ac.searchSKUID()">
                                    Search
                                </button>
                            </div>

                        </div>

                        <!-- Product Details START -->
                        <div class="row" ng-if="ac.product_details.length">

                            <br>
                            <br>

                            <div class="col-lg-12">
                                <h4>Product details</h4>
                                <hr class="ac-hr">
                            </div>


                            <div class="col-xs-4">
                                <img ng-src="{{ac.product_details[0].front_img}}" class="ac-image" alt="No Image Available">
                            </div>

                            <div class="col-xs-8">
                                <div><b>SKU Code :</b> {{ac.product_details[0].sku_code}}</div>
                                <div><b>Short Desc :</b> {{ac.product_details[0].short_description}}</div>
                                <div><b>MRP :</b> {{ac.product_details[0].mrp}}</div>
                            </div>

                            <div class="col-xs-12">
                                <button type="submit" class="btn float-right ac-btn" ng-click="ac.addToCart(ac.product_details[0])">
                                    Add To Cart
                                </button>
                                <div style="clear: both;"></div>
                            </div>


                        </div>
                        <!-- Product Details END -->

                    </div>

                </div>
                <!-- Search END -->

                <!-- Add SKU START -->
                <div class="ibox" ng-if="ac.active_tab == 'CREATE'">

                    <div class="ibox-content">

                        <div class="row">

                            <form class="m-t" validate-form="" novalidate="" role="form" name="fresetForm"
                                  ng-submit="ac.uploadImageOnBackend('add')">

                                <div class="form-group col-lg-12 text-center" ng-if="ac.create.image_arr.length">
                                    <img ng-src="{{img.url}}" class="ac-thumbnail-image" ng-repeat="img in ac.create.image_arr">
                                </div>

                                <div class="col-md-6 form-group has-feedback ac-create-component">
                                    <label>SKU ID</label><span class="text-red">*</span>
                                    <input type="text" class="form-control" placeholder="SKU ID"
                                           ng-model="ac.create.sku_id" required="required">
                                </div>

                                <div class="col-md-6 form-group has-feedback ac-create-component">
                                    <label>MRP</label><span class="text-red">*</span>
                                    <input type="text" class="form-control" placeholder="MRP" maxlength="7"
                                           ng-model="ac.create.mrp" positive-integer="" required="required">
                                </div>

                                <div class="col-md-6 form-group has-feedback ac-create-component">
                                    <label>Upload Image</label><span class="text-red">*</span>
                                    <div>
                                        <input type="file" id="new" ng-file-model="ac.create.image_arr" multiple class="form-control js-create-image-input"
                                               accept="image/*" required="required">
                                    </div>
                                </div>

                                <div class="col-md-6 form-group has-feedback ac-create-component">
                                    <label>Short Description</label><span class="text-red">*</span>
                                    <input type="text" class="form-control" placeholder="Short Description"
                                           ng-model="ac.create.short_desc" required="required">
                                </div>

                                <br>

                                <div class="form-group col-lg-12 text-center">
                                    <button type="submit" class="btn ac-btn">
                                        Create & Add To Cart
                                    </button>
                                </div>

                            </form>

                        </div>

                    </div>

                </div>
                <!-- Add SKU END -->

            </div>


        </div>


        <div class="row order-data-row"  ng-if="ac.cart_arr.length">

            <div class="ibox">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-lg-12">
                            <h5>Cart</h5>
                            <hr class="ac-hr">
                        </div>
                    </div>

                    <!-- Cart Details -->
                    <div class="row m-t-5" ng-repeat="item in ac.cart_arr">


                        <div class="col-xs-4">
                            <img ng-src="{{item.front_img}}" class="ac-cart-image">
                        </div>

                        <div class="col-xs-3">
                            <div class="float-left">QTY</div>
                            <input type="text" class="form-control ac-qty-input float-left"
                                   ng-model="item.qty" positive-integer="" required="required">
                            <div style="clear: both;"></div>
                        </div>

                        <div class="col-xs-3">
                            <div><b>MRP :</b> {{item.mrp}}</div>
                            <div><b>SKU CODE :</b> {{item.sku_code}}</div>
                        </div>
                        <div class="col-xs-2">
                            <i class="fa fa-times" ng-click="ac.removeItemFromCart(item)"></i>
                        </div>


                    </div>

                    <br><br>

                    <form class="m-t" validate-form="" novalidate="" role="form" name="fresetForm" ng-submit="ac.uploadImageOnBackend('place')">


                        <div class="row">
                            <div class="col-lg-12">
                                <h5>Invoice Details</h5>
                                <hr class="ac-hr">
                            </div>
                        </div>

                        <!-- Invoice Details -->
                        <div class="row">

                            <div class="col-lg-6">
                                <div class="row">

                                    <div class="col-md-6 form-group has-feedback ac-create-component">
                                        <label>Bill Value</label><span class="text-red">*</span>
                                        <input type="text" class="form-control float-left" maxlength="7"
                                               ng-model="ac.place_order.bill_value" positive-integer="" required>
                                    </div>

                                    <div class="col-md-6 form-group has-feedback ac-create-component">
                                        <label>Upload Invoice</label><span class="text-red">*</span>
                                        <input type="file" ng-file-model="ac.place_order.image_arr" multiple class="form-control"
                                               accept="image/*" required="required">
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-12 text-center" ng-if="ac.place_order.image_arr.length">
                                            <img ng-src="{{img.url}}" class="ac-thumbnail-image" ng-repeat="img in ac.place_order.image_arr">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-lg-12">
                                <h5>Customer Details</h5>
                                <hr class="ac-hr">
                            </div>
                        </div>

                        <!-- Customer Details -->
                        <div class="row">


                            <div class="col-md-4 form-group has-feedback ac-create-component">
                                <label>Buyback Pass Code</label>
                                <input type="text" class="form-control float-left" placeholder="Buyback Pass Code"
                                       ng-model="ac.place_order.pass_code">
                            </div>

                            <div class="col-md-4 form-group has-feedback ac-create-component">
                                <label>Customer Name</label><span class="text-red">*</span>
                                <input type="text" class="form-control float-left" placeholder="Customer Name"
                                       ng-change="ac.place_order.customer_name.length <= 0 ? ac.place_order.customer_name_error = true : ac.place_order.customer_name_error = false"
                                       ng-disabled="ac.show_otp_fields"
                                       ng-class="{'parsley-error' : ac.place_order.customer_name_error}"
                                       ng-model="ac.place_order.customer_name" required>
                                <ul class="parsley-errors-list filled" ng-if="ac.place_order.customer_name_error">
                                    <li class="parsley-required">
                                        This value is required.
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-4 form-group has-feedback ac-create-component">
                                <label>Email-ID</label><span class="text-red">*</span>
                                <input type="email" class="form-control float-left" placeholder="Email-ID"
                                       data-parsley-type="email"
                                       ng-change="ac.place_order.email_id.length <= 0 ? ac.place_order.email_id_error = true : ac.place_order.email_id_error = false"
                                       ng-disabled="ac.show_otp_fields"
                                       ng-class="{'parsley-error' : ac.place_order.email_id_error}"
                                       ng-model="ac.place_order.email_id" required>
                                <ul class="parsley-errors-list filled" ng-if="ac.place_order.email_id_error">
                                    <li class="parsley-required">
                                        This value is required.
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-4 form-group has-feedback ac-create-component">
                                <label>Phone No.</label><span class="text-red">*</span>
                                <input type="text" class="form-control float-left" placeholder="Phone No." maxlength="10"
                                       ng-change="ac.place_order.phone_no.length < 10 ? ac.place_order.phone_no_error = true : ac.place_order.phone_no_error = false"
                                       ng-disabled="ac.disable_phone_no"
                                       ng-class="{'parsley-error' : ac.place_order.phone_no_error}"
                                       ng-model="ac.place_order.phone_no" positive-integer required>
                                <ul class="parsley-errors-list filled" ng-if="ac.place_order.phone_no_error">
                                    <li class="parsley-required">
                                        Please enter valid 10 digit mobile no.
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-4 form-group has-feedback ac-create-component">
                                <label>OTP</label><span class="text-red">*</span>
                                <input type="text" class="form-control float-left" placeholder="OTP"
                                       ng-change="ac.place_order.otp.length <= 0 ? ac.place_order.otp_error = true : ac.place_order.otp_error = false"
                                       ng-model="ac.place_order.otp" positive-integer required>
                                <ul class="parsley-errors-list filled" ng-if="ac.place_order.otp_error">
                                    <li class="parsley-required">
                                        This value is required.
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-4 form-group has-feedback ac-create-component">
                                <button type="button" class="btn ac-otp-btn ac-btn" ng-hide="ac.show_otp_fields" ng-click="ac.getOTP()">
                                    Get OTP
                                </button>
                                <button type="button" class="btn ac-otp-btn ac-btn" ng-show="ac.show_otp_fields && !ac.disable_phone_no" ng-click="ac.verifyOTP()">
                                    Verify OTP
                                </button>
                                <button type="button" class="btn ac-otp-btn ac-btn" ng-if="ac.show_otp_fields && ac.disable_phone_no">
                                    Verified
                                </button>
                                <button type="button" class="btn ac-otp-btn ac-btn" ng-show="ac.show_otp_fields && !ac.disable_phone_no" ng-click="ac.resendOTP()">
                                    Resend OTP
                                </button>
                            </div>


                        </div>


                        <div class="row">
                            <div class="col-lg-12 text-center">

                                <hr class="ac-hr">

                                <button type="submit" class="btn ac-btn" ng-disabled="ac.disable_place_btn">
                                    Place Order
                                </button>

                            </div>
                        </div>

                    </form>

                </div>
            </div>

        </div>

    </div>

</div>