<div class="modified-wrapper animated fadeInRight" ng-controller="salesReportCtrl as sr">

    <div class="col-lg-12" ng-show="sr.spinner">
        <div class="spiner-example">
            <div class="sk-spinner sk-spinner-chasing-dots">
                <div class="sk-dot1"></div>
                <div class="sk-dot2"></div>
            </div>
        </div>
    </div>

    <!-- Heading Top Row -->
    <div class="row top-row" ng-hide="sr.spinner">
        <div class="col-lg-12">

            <div class="top-heading">Sales Report</div>
            <div class="order-date-div">
                <input id="rangeInput" date-range-picker class="form-control date-picker order-input" type="text" ng-model="sr.daterange"
                       readonly="" placeholder="Select Date"/>
            </div>
            <div style="clear: both;"></div>

        </div>
    </div>

    <div ng-hide="vi.spinner" class="order-data-row">

        <div class="ibox">
            <div class="ibox-content">

                <div class="row">
                    <div class="col-xs-6 col-md-4">
                        <h2>Total Revenue</h2> <i class="fa fa-rupee"></i> {{sr.total_revenue}}
                    </div>
                </div>

            </div>
        </div>

        <div class="ibox">
            <div class="ibox-content">

                <div class="row">
                    <div class="col-lg-12">

                        <table datatable="ng" dt-options="sr.dtOptions"
                               class="table table-striped table-bordered table-hover dataTables-example order-table">
                            <thead>
                            <tr>
                                <th>Created Date</th>
                                <th>Order Id</th>
                                <th>SKU Id</th>
                                <th>Customer Name</th>
                                <th>Phone No.</th>
                                <th>Bill Value</th>
                                <th>Invoice Copy</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data in sr.invoice_list track by $index">

                                <td>{{data.created_at | date}}</td>
                                <td>{{data.order_id}}</td>
                                <td>
                                    <!--<div ng-repeat="cart in data.cart_items">
                                        SKU-Code : {{cart.sku_code}}({{cart.number_of_quantity}})
                                    </div>-->
                                    <table class="table table-striped table-bordered dataTables-example w-100p">
                                        <thead>
                                        <tr>
                                            <th>SKU Code</th>
                                            <th>No. of Quantity</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="cart in data.cart_items">
                                            <td>{{cart.sku_code}}</td>
                                            <td>{{cart.number_of_quantity}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>{{data.user_name}}</td>
                                <td>{{data.user_phone}}</td>
                                <td>{{data.bill_value}}</td>
                                <td>
                                    <div class="row">
                                        <div class="col-lg-4" ng-repeat="img in data.invoice_link">
                                            <img ng-src="{{img}}" class="w-50" alt="No Image Available" ng-click="sr.openModalForImage(img)">
                                        </div>
                                    </div>
                                </td>

                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>

    </div>

    <script type="text/ng-template" id="imageModals">
        <div class="ngdialog-message">

            <div class="ibox-content">
                <div class="row">

                    <div class="col-lg-12" style="text-align: center;">
                        <img class="inbound-ngDialog-img" ng-src="{{sr.image_path}}" alt="No Image Available">
                    </div>

                </div>
            </div>


        </div>
    </script>


</div>