<div class="modified-wrapper animated fadeInRight" ng-controller="viewInventoryCtrl as vi">

    <div class="col-lg-12" ng-show="vi.spinner">
        <div class="spiner-example">
            <div class="sk-spinner sk-spinner-chasing-dots">
                <div class="sk-dot1"></div>
                <div class="sk-dot2"></div>
            </div>
        </div>
    </div>

    <!-- Heading Top Row -->
    <div class="row top-row" ng-hide="vi.spinner">
        <div class="col-lg-12">
            <div class="top-heading">View Inventory</div>
        </div>
    </div>

    <div ng-hide="vi.spinner" class="order-data-row">

        <div class="ibox">
            <div class="ibox-content">

                <div class="row" ng-if="vi.sku_list.length > 0">

                    <div class="col-xs-4" ng-repeat="sku in vi.sku_list">
                        <div class="text-center vi-sku-div">
                            <img ng-src="{{sku.front_img}}" class="vi-img" alt="No Image Available" ng-click="vi.openModalForImage(sku.front_img)">
                            <br>
                            <div class="vi-content-div">
                                <div>
                                    <div class="float-left"><b>Code :</b></div>
                                    <div class="float-right">{{sku.sku_code}}</div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div>
                                    <div class="float-left"><b>MRP :</b></div>
                                    <div class="float-right"><i class="fa fa-rupee"></i> {{sku.mrp}}</div>
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row text-center" ng-if="vi.sku_list.length <= 0">
                    <h1 class="text-red"> No Inventory </h1>
                </div>

            </div>
        </div>

    </div>

    <script type="text/ng-template" id="imageModals">
        <div class="ngdialog-message">

            <div class="ibox-content">
                <div class="row">

                    <div class="col-lg-12" style="text-align: center;">
                        <img class="inbound-ngDialog-img" ng-src="{{vi.image_path}}" alt="No Image Available">
                    </div>

                </div>
            </div>


        </div>
    </script>



</div>