<div class="modified-wrapper animated fadeInRight asset-page" ng-controller="assetsTrackingCtrl as atCtrl"
    style="background-color: #f7f7f7;">

    <div class="row order-top-row">
        <div class="col-lg-12">

            <div class="order-heading">Assets Tracking</div>

        </div>
    </div>

    <div class="row" ng-show="atCtrl.spinner">
        <div class="spiner-example">
            <div class="sk-spinner sk-spinner-chasing-dots">
                <div class="sk-dot1"></div>
                <div class="sk-dot2"></div>
            </div>
        </div>
    </div>

    <div class="row at-body" ng-hide="atCtrl.spinner">

        <div class="col-lg-12">

            <div class="fix-asset-list">

                <div class="at-sub-heading"> Select Asset</div>

                <div class="at-assets-table">

                    <div ng-repeat="data in atCtrl.tableData track by $index" class="at-asset-details"
                         ng-class="'at-asset-active-div-' + $index" ng-click="atCtrl.getDetailForAsset(data,$index)">

                        <div class="at-img-div">
                            <img ng-src="{{main.urlList.imagekit_url + data.parent_info.reference_image}}"
                                 class="at-img"/>
                        </div>

                        <div class="at-detail-div">

                            <div class="float-left">
                                <b>ID: {{data.warehouse_stack_id}}</b>

                                <div class="at-h3 m-t-15"><b class="at-small-head">Brand</b> : {{data.parent_info.bramd_name}}</div>
                                <div class="at-h3"><b class="at-small-head">Status</b> : {{atCtrl.statusArr[data.status]}}</div>

                            </div>

                            <div class="float-right at-arrow" ng-if="atCtrl.selectedIndex == $index">
                                >
                            </div>

                            <div style="clear: both;"></div>

                        </div>

                        <div style="clear: both;"></div>

                    </div>

                </div>

            </div>

            <div class="detail-window" ng-show="atCtrl.showDetails">

                <div class="row" ng-if="atCtrl.selectedDivData.status == 'LIV'">
                    <div class="col-md-12 at-liv-div">

                        <div>
                            <img src="img/Tik@2x.png" class="liv-tik-img">
                        </div>
                        <div>
                            <img src="img/assetLive@2x.png" class="liv-asset-img">
                        </div>
                        <div class="at-cong-div">
                            Congratulations!
                            <div class="at-cong-msg-div" ng-if="atCtrl.selectedDivData.lived_at.length > 0">Your asset went live on {{atCtrl.selectedDivData.lived_at | date}}</div>
                            <div class="at-cong-msg-div" ng-if="atCtrl.selectedDivData.lived_at.length <= 0">Your asset is live</div>
                        </div>

                        <div class="at-liv-q-div">

                            <div class="at-liv-h">What do you do next? </div>

                            <div class="at-liv-que">
                                <div class="at-circle"></div>
                                <div class="at-liv-que-text">Submit your bank Details</div>
                                <div style="clear: both;"></div>
                            </div>
                            <div class="at-liv-ans">Go to Settings > Update Bank details > Submit </div>

                            <div class="at-liv-que">
                                <div class="at-circle"></div>
                                <div class="at-liv-que-text">Track Your Revenue</div>
                                <div style="clear: both;"></div>
                            </div>
                            <div class="at-liv-ans">Go to SKU Details > Change Date Filter > Apply </div>

                            <div class="at-liv-que">
                                <div class="at-circle"></div>
                                <div class="at-liv-que-text">Have more questions?</div>
                                <div style="clear: both;"></div>
                            </div>
                            <div class="at-liv-ans">Please visit our <a ui-sref="merchant.faq">FAQ Section</a></div>

                        </div>

                    </div>
                </div>

                <div class="row" ng-if="atCtrl.selectedDivData.status != 'LIV'">

                    <div class="col-md-6">

                        <div class="at-sub-heading"> Asset Status:</div>

                        <table class="m-t-15">
                            <tr ng-repeat="detail in atCtrl.displayArr">
                                <td class="h-79">
                                    <div class="line-div">
                                        <div ng-show="detail.l1" ng-class="{'green-line': detail.l1 == 'GREEN','red-line': detail.l1 == 'RED'}"></div>
                                    </div>
                                    <div ng-if="detail.pass && detail.success">
                                        <img src="img/Green-Tik.png" class="detail-tik-img">
                                    </div>
                                    <div ng-if="detail.pass && !detail.success">
                                        <img src="img/Red-Cross.png" class="detail-tik-img">
                                    </div>
                                    <div class="fail-asset-circle" ng-if="!detail.pass"></div>
                                    <div class="line-div">
                                        <div ng-if="detail.l2" ng-class="{'green-line': detail.l2 == 'GREEN','red-line': detail.l2 == 'RED'}"></div>
                                    </div>
                                </td>
                                <td class="bottom-line">
                                    <img ng-src="{{detail.image}}" class="gadget-success-img float-left"
                                         ng-class="{'fail-asset':detail.pass == false}">
                                </td>
                                <td class="bottom-line p-r-20 p-t-20">
                                    <div class="at-status-text" ng-class="{'fail-asset':detail.pass == false}">
                                        {{atCtrl.statusArr[detail.status]}}
                                    </div>
                                    <div class="at-date-text" ng-if="detail.pass">{{detail.date | date}}</div>
                                    <div class="at-date-text fail-asset" ng-if="!detail.pass"> Pending...</div>
                                </td>
                            </tr>
                        </table>

                        <!--<div ng-repeat="detail in atCtrl.displayArr">

                            <img src="img/Tik@2x.png" class="detail-tik-img float-left" ng-if="detail.pass">

                            <div class="detail-box float-left">

                                <img ng-src="{{detail.image}}" class="gadget-success-img float-left" ng-if="detail.pass">

                                <div class="float-left">
                                    <div class="at-status-text">{{atCtrl.statusArr[detail.status]}}</div>
                                    <div class="at-date-text">{{detail.date | date}}</div>
                                </div>
                                <div style="clear: both;"></div>

                            </div>

                            <div style="clear: both;"></div>

                        </div>-->

                    </div>

                    <div class="col-md-6 step10">

                        <div class="at-sub-heading"> Quick Questions:</div>

                        <div class="at-que-guide">

                            <div ng-repeat="qa in atCtrl.queAns track by $index">

                                <div class="at-qa-q">{{qa.Q}}</div>
                                <div class="at-qa-a">{{qa.A}}</div>
                                <hr class="at-q-guide-hr" ng-if="atCtrl.queAns.length != $index + 1">

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>