<div class="modified-wrapper animated fadeInRight" ng-controller="faqCtrl as fq">

    <div class="row order-top-row">

        <div class="col-lg-12">

            <div class="order-heading">FAQ</div>

            <div style="clear: both;"></div>

        </div>

    </div>

    <div class="row faq-row">

        <h1 class="faq-heading">HELP & SUPPORT</h1>
        <div class="faq-sub-heading">A few simple answers to get you Flyrobin' faster</div>

        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="faq-box" ng-repeat="qa in fq.queAns track by $index">
                <div class="faq-que" ng-click="fq.collaspe($index,fq.queAns.length)">
                    <div class="float-left">{{qa.Q}}</div>
                    <div class="float-right">
                        <span ng-class="'faq-sign-plus-' + $index">+</span>
                        <span ng-class="'faq-sign-' + $index" class="no-display">-</span>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div class="faq-ans" ng-class="'faq-' + $index">
                    {{qa.A}}
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>

    </div>

</div>
