<div class="modified-wrapper animated fadeInRight" ng-controller="ordersCtrl as order">

    <div class="row order-top-row">

       <div class="col-lg-12">

           <div class="order-heading">Outfit Details</div>

           <div class="order-date-div">
               <input id="rangeInput" date-range-picker class="form-control date-picker order-input" type="text" ng-model="order.daterange"
                      readonly="" placeholder="Select Date"/>

               <div style="clear: both;"></div>
           </div>

           <div style="clear: both;"></div>

       </div>

    </div>

        <div class="row order-data-row" ng-show="order.data">

            <div class="col-lg-12 order-navbar">
                <ul class="order-ul nav navbar-nav page-nav">
                    <li ng-class="{'order-active':order.selectedTab === 'ALL'}"
                        ng-click="order.selectedTab = 'ALL';order.getData(order.start,order.end)">ALL</li>
                    <li ng-class="{'order-active':order.selectedTab === 'LIVE'}"
                        ng-click="order.selectedTab = 'LIVE';order.getData(order.start,order.end)">LIVE</li>
                    <li ng-class="{'order-active':order.selectedTab === 'DAMAGED'}"
                        ng-click="order.selectedTab = 'DAMAGED';order.getData(order.start,order.end)">DAMAGED</li>
                    <li ng-class="{'order-active':order.selectedTab === 'SOLD'}"
                        ng-click="order.selectedTab = 'SOLD';order.getData(order.start,order.end)">SOLD</li>
                <!--    <li ng-class="{'order-active':order.selectedTab === 'SCRAPPED'}"
                        ng-click="order.selectedTab = 'SCRAPPED';order.getData(order.start,order.end)">SCRAPPED</li>-->
                    <li ng-class="{'order-active':order.selectedTab === 'SCRAPPED'}"
                        ng-click="order.selectedTab = 'SCRAPPED';order.getData(order.start,order.end)">OTHERS</li>
                </ul>
                <img  class="order-download pointer" src="img/download.png" ng-click="order.printTable();">
                <div style="clear: both;"></div>

            </div>

            <div class="col-lg-12" ng-show="order.spinner">
                <div class="spiner-example">
                    <div class="sk-spinner sk-spinner-chasing-dots">
                        <div class="sk-dot1"></div>
                        <div class="sk-dot2"></div>
                    </div>
                </div>
            </div>

            <div class="order-row printTable" ng-hide="order.spinner">

                <table datatable="ng" dt-options="order.dtOptions"
                       class="table table-striped table-bordered table-hover dataTables-example order-table">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Item ID</th>
                        <th>Size</th>
                        <th>Category</th>
                        <th>Live Date</th>
                        <th>Status</th>
                        <th>Actual MRP (In ₹)</th>
                        <th>Rental (In ₹)</th>
                        <th>Fulfilled Orders</th>
                        <th>Future Orders</th>
                        <th>Count of Cancelled Orders</th>
                        <th>Revenue - Inclusive of GST and Taxes (In ₹)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in order.tableData" ng-if="data.mode == 'RES'">
                        <td>
                            <a href="{{main.getUrl(data.short_description,data.parent_id)}}" target="_blank">
                                <img class="img-circle img-responsive w-40" ng-src="{{main.urlList.imagekit_url + data.image}}"
                                 ng-if="data.image.indexOf('http') < 0">
                                <img style="width:40px;height: 40px;" ng-src="{{data.image}}"
                                     ng-if="data.image.indexOf('http') >= 0">
                            </a>
                        </td>
                        <td>{{data.item_id}}</td>
                        <td>{{data.flyrobe_size}}</td>
                        <td>{{data.category}}</td>
                        <td>{{data.created_on | date}}</td>
                        <td>

                            <div ng-if="data.status == 'URP' || data.status == 'DMG'">
                                Quality Check
                            </div>
                            <div ng-if="data.status != 'URP' && data.status != 'DMG'">
                                {{data.status}}
                            </div>

                        </td>
                        <td>{{data.cost}}</td>
                        <td>{{data.rental}}</td>
                        <td><a ng-click="order.getTurns(data.no_of_serviced_orders,data.warehouse_stack_id)">{{data.no_of_serviced_orders}}</a></td>
                        <td>{{data.no_of_on_going_orders}}</td>
                        <td>{{data.no_of_non_confirmed_orders}}</td>
                        <td><span ng-if="data.rental_revenue">{{data.rental_revenue | number:2}}</span>
                            <span ng-if="!data.rental_revenue">0</span></td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>


    <!-------------------------------------------------
            ngDialog for display turns of order
    --------------------------------------------------->

    <script type="text/ng-template" id="turnsModals" >
        <div class="ngdialog-message">

            <div class="ibox-content">

                <div class="order-pop-up-heading">Order Details</div>

                <table datatable="ng" dt-options="order.dtOptions"
                       class="table table-striped table-bordered table-hover dataTables-example mainTable order-pop-up-table">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Item Id</th>
                        <th>Category</th>
                        <th>Order Id</th>
                        <th>Delivery</th>
                        <th>Rental (In ₹)</th>
                        <th>Discount (In ₹)</th>
                        <th>Revenue (In ₹)</th>
                        <th>Bill Value (In ₹)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in order.turnArray">
                        <td><img style="width:40px;height: 40px;" ng-src="{{'https://res.cloudinary.com/dvi1cncba/' + data.image}}"></td>
                        <td>{{data.item_id}}</td>
                        <td>{{data.category}}</td>
                        <td>{{data.order_id}}</td>
                        <td>{{data.delivery_date | date}}</td>
                        <td>{{data.rental}}</td>
                        <td>{{data.order_discount | number : 2}}</td>
                        <td>{{data.rental_revenue}}</td>
                        <td>{{data.cost}}</td>
                    </tr>
                    </tbody>
                </table>
                <a type="submit" ng-click="closeThisDialog(0)" class="btn dialog-btn" style="margin-top:20px;float:right;">OK</a>
                <div style="clear: both;"></div>
            </div>
        </div>
    </script>

</div>
