<div class="modified-wrapper animated fadeInRight" ng-controller="paymentCtrl as payment">

    <div class="row order-top-row">

        <div class="col-lg-12">

            <div class="order-heading">Payment History</div>

        </div>

    </div>

    <div class="col-lg-12" ng-show="payment.spinner">
        <div class="spiner-example">
            <div class="sk-spinner sk-spinner-chasing-dots">
                <div class="sk-dot1"></div>
                <div class="sk-dot2"></div>
            </div>
        </div>
    </div>

    <div ng-hide="payment.spinner">

        <div class="row payment-row step8">

            <div class="pay-box1">
                <img src="img/payment-db.png" style="padding: 18px;">
            </div>
            <div class="pay-box2">
                <div class="pay-current">Current Outstanding Amount</div>
                <div class="pay-amount"> ₹ {{payment.currAmount}}</div>
                <div style="clear: both;"></div>
                <!--<div class="pay-period">Period : 1st Dec- 1st Jan</div>-->
            </div>
            <div style="clear: both;"></div>

        </div>

        <div class="row order-data-row">

            <div class="col-lg-12 payment-navbar">
                <ul class="payment-ul nav navbar-nav page-nav">
                    <li ng-class="{'payment-active':payment.selectedTab === 'RECCURING'}"
                        ng-click="payment.selectedTab = 'RECCURING';payment.getData()">RECCURING</li>
                    <!--<li ng-class="{'payment-active':payment.selectedTab === 'LIV'}"-->
                        <!--ng-click="payment.selectedTab = 'LIVE'">LIVE</li>-->
                    <!--<li ng-class="{'payment-active':payment.selectedTab === 'DAMAGED'}"-->
                        <!--ng-click="payment.selectedTab = 'DAMAGED'">DAMAGED</li>-->
                    <!--<li ng-class="{'payment-active':payment.selectedTab === 'SOLD'}"-->
                        <!--ng-click="payment.selectedTab = 'SOLD'">SOLD</li>-->
                </ul>
            </div>

            <div class="no-table-options">

                <table datatable="ng" dt-options="payment.dtOptions"
                       class="table table-striped table-bordered table-hover dataTables-example mainTable payment-table">
                    <thead class="head-style">
                    <tr>
                        <th>State</th>
                        <th style="min-width: 52px">Total Sale (In ₹)</th>
                        <th style="min-width: 35px">Net (In ₹)</th>
                        <th style="min-width: 62px">VAT/CST (In ₹)</th>
                        <th style="min-width: 83px;">Invoice Number</th>
                        <th style="min-width: 36px">DOP</th>
                        <th style="min-width: 48px">Due Date</th>
                        <th style="min-width: 40px">Status</th>
                        <th style="min-width: 130px;">Verify to Send</th>
                        <th>Download</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in payment.tableData">
                        <td>{{data.indian_state}}</td>
                        <td>{{data.billing_invoice_amount}}</td>
                        <td>{{data.net_sale}}</td>
                        <td>{{data.tax_amount}}</td>
                        <td>{{data.merchant_payment_id}}</td>
                        <td>{{data.initiated_on | date}}</td>
                        <td>{{data.due_date | date}}</td>
                        <td>{{data.status | paymentStatus}}</td>
                        <td style="text-align: center">
                            <button class="payment-accept" ng-click="payment.showAccRjctMsg(data.payment_id,'VER')"
                                    ng-class="{'disable-btn':data.status == 'VER'||data.status == 'CLD'}"
                                    ng-disabled="data.status == 'VER' || data.status == 'CLD'">ACCEPT</button>
                            <button class="payment-reject" ng-click="payment.showAccRjctMsg(data.payment_id,'CLD')"
                                    ng-class="{'disable-btn':data.status == 'VER'||data.status == 'CLD'}"
                                    ng-disabled="data.status == 'VER' || data.status == 'CLD'">REJECT</button>
                        </td>
                        <td style="text-align: center"><img src="img/download.png" style="height: 24px;border: solid 1px #c7cad0;"></td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>

        <div class="row order-data-row no-table-options">

            <div class="col-lg-12 past-payment">
                <div style="float: left;">Past Payment</div>
                <!--<div style="float: right;"><img src="img/download.png" style="border: solid 1px #c7cad0;"></div>-->
                <div style="clear: both;"></div>
            </div>
            <table datatable="ng" dt-options="payment.dtOptions"
                   class="table table-striped table-bordered table-hover dataTables-example mainTable payment-table">
                <thead class="head-style">
                <tr>
                    <th class="lp-24" style="padding-left: 26px;min-width:129px;">Period</th>
                    <th class="lp-24" style="padding-left: 26px;min-width:122px;">Invoice ID</th>
                    <th class="lp-24" style="padding-left: 26px">Amount (In ₹)</th>
                    <th class="lp-24" style="padding-left: 26px">DOP</th>
                    <th class="lp-24" style="padding-left: 26px">UTR</th>
                    <th class="lp-24" style="padding-left: 26px;min-width: 50px;">Due Date</th>
                    <th class="lp-24" style="padding-left: 26px">Comments</th>
                    <th class="lp-24" style="padding-left: 26px;">Download</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in payment.successData">
                    <td>{{data.initiated_on | date}} - {{data.due_date | date}}</td>
                    <td>{{data.merchant_payment_id}}</td>
                    <td>{{data.billing_invoice_amount}}</td>
                    <td>{{data.initiated_on | date}}</td>
                    <td>{{data.transaction_id}}</td>
                    <td>{{data.due_date | date}}</td>
                    <td>{{data.comment}}</td>
                    <td style="text-align: center;"><img src="img/download.png" style="height: 24px;border: solid 1px #c7cad0;"></td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

    <!-------------------------------------------------
            ngDialog for display accept/reject msg
    --------------------------------------------------->

    <script type="text/ng-template" id="accRejctMsgModal">
        <div class="ngdialog-message">

            <div class="ibox-content" style="text-align: center;">
                <div class="text-payment-modal">
                    {{payment.acceptRejectMsg}}
                </div>

                <div>
                    <a type="submit" ng-click="closeThisDialog(0)" class="btn dialog-btn cancel-payment-modal">Cancel</a>
                    <a type="submit" ng-click="payment.changeStatus(payment.changeStatusObj.id,payment.changeStatusObj.status) && closeThisDialog(0)"
                       class="btn dialog-btn ok-payment-modal">OK</a>

                </div>

            </div>
        </div>
    </script>

</div>
