<div class="modified-wrapper animated fadeInRight" ng-controller="settingCtrl as set">

    <div class="row order-top-row">

        <div class="col-lg-12">

            <div class="order-heading">Settings</div>

        </div>

    </div>

    <div class="col-lg-12" ng-show="set.spinner">
        <div class="spiner-example">
            <div class="sk-spinner sk-spinner-chasing-dots">
                <div class="sk-dot1"></div>
                <div class="sk-dot2"></div>
            </div>
        </div>
    </div>

    <div ng-hide="set.spinner">

        <div class="row setting-row">

            <div class="col-lg-12 set-merchant-block">
                <div class="row">

                    <div class="col-xs-6 col-lg-4">
                        <div class="set-merchant-que">Merchant Since</div>
                        <div class="set-merchant-ans">{{set.merchantData.created_on}}</div>
                    </div>

                    <!--<div class="col-xs-6 col-lg-4">-->
                        <!--<div class="set-merchant-que">Payment Cycle</div>-->
                        <!--<div class="set-merchant-ans">Quarterly</div>-->
                    <!--</div>-->

                    <div class="col-xs-6 col-lg-4">
                        <div class="set-merchant-que">Account Status</div>
                        <div class="set-merchant-ans" ng-if="set.merchantData.user.is_active">Active</div>
                        <div class="set-merchant-ans" ng-if="!set.merchantData.user.is_active">Deactive</div>
                    </div>

                </div>
            </div>

            <hr style="opacity: 0.5;border: solid 1px #c7cad0;margin: 0px;">

            <div class="col-lg-12 set-merchant-block">

                <div class="set-merchant-details">Merchant Details</div>

                <div class="set-details">
                    <div class="set-name">Name : </div>
                    <div class="set-value">{{set.merchantData.user.username}}</div>
                    <div style="clear: both;"></div>
                </div>

                <div class="set-details">
                    <div class="set-name">Email : </div>
                    <div class="set-value">{{set.merchantData.user.email}}</div>
                    <div style="clear: both;"></div>
                </div>

                <div class="set-details">
                    <button class="btn-change" ui-sref="changePassword">Change Password</button>
                </div>

                <!--<div class="set-details">
                    <div class="set-name">Bank Account : </div>
                    <div class="set-value">{{set.merchantData.user.userbankdetail_set.account}}</div>
                    <div style="clear: both;"></div>
                </div>

                <div class="set-details">
                    <div class="set-name">IFSC : </div>
                    <div class="set-value">{{set.merchantData.user.userbankdetail_set.IFSC}}</div>
                    <div style="clear: both;"></div>
                </div>-->

                <hr style="opacity: 0.5;border: solid 1px #c7cad0;">

                <!-------------- Bank Details START ---------------->

                <div class="set-merchant-details">Bank Details</div>

                <div class="set-details">
                    <div class="set-name">Account Name:<span class="text-red" ng-if="!set.bank_Details_Flag">*</span> </div>
                    <div class="set-value" ng-if="set.bank_Details_Flag">
                        {{set.bank_Details.account_holder_name}}
                    </div>
                    <div class="set-value" ng-if="!set.bank_Details_Flag">
                        <input class="set-bank-input" ng-model="set.bank_Details.account_holder_name" placeholder="Enter Account Name"
                            ng-change="(set.bank_Details.account_holder_name.length > 0) ? set.bank_Details.a_name_error = false : set.bank_Details.a_name_error = true">
                        <div class="text-red set-error" ng-if="set.bank_Details.a_name_error">
                            Please Enter Account Name
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>

                <div class="set-details">
                    <div class="set-name">Account Number:<span class="text-red" ng-if="!set.bank_Details_Flag">*</span> </div>
                    <div class="set-value" ng-if="set.bank_Details_Flag">
                        {{set.bank_Details.account_number}}
                    </div>
                    <div class="set-value" ng-if="!set.bank_Details_Flag">
                        <input class="set-bank-input" ng-model="set.bank_Details.account_number" placeholder="Enter Account Number"
                               ng-change="(set.bank_Details.account_number.length > 0) ? set.bank_Details.a_number_error = false : set.bank_Details.a_number_error = true">
                        <div class="text-red set-error" ng-if="set.bank_Details.a_number_error">Please Enter Account Number</div>
                    </div>
                    <div style="clear: both;"></div>
                </div>

                <div class="set-details">
                    <div class="set-name">Bank Name:<span class="text-red" ng-if="!set.bank_Details_Flag">*</span> </div>
                    <div class="set-value" ng-if="set.bank_Details_Flag">
                        {{set.bank_Details.bank_name}}
                    </div>
                    <div class="set-value" ng-if="!set.bank_Details_Flag">
                        <input class="set-bank-input" ng-model="set.bank_Details.bank_name" placeholder="Enter Bank Name"
                               ng-change="(set.bank_Details.bank_name.length > 0) ? set.bank_Details.bank_name_error = false : set.bank_Details.bank_name_error = true">
                        <div class="text-red set-error" ng-if="set.bank_Details.bank_name_error">Please Enter Bank Name</div>
                    </div>
                    <div style="clear: both;"></div>
                </div>

                <div class="set-details">
                    <div class="set-name">IFSC Code:<span class="text-red" ng-if="!set.bank_Details_Flag">*</span> </div>
                    <div class="set-value" ng-if="set.bank_Details_Flag">
                        {{set.bank_Details.ifsc_code}}
                    </div>
                    <div class="set-value" ng-if="!set.bank_Details_Flag">
                        <input class="set-bank-input" ng-model="set.bank_Details.ifsc_code" placeholder="Enter IFSC Code"
                               ng-change="(set.bank_Details.ifsc_code.length > 0) ? set.bank_Details.ifsc_error = false : set.bank_Details.ifsc_error = true">
                        <div class="text-red set-error" ng-if="set.bank_Details.ifsc_error">Please Enter Valid IFSC Code</div>
                    </div>
                    <div style="clear: both;"></div>
                </div>

                <div class="set-details" ng-if="!set.bank_Details_Flag">
                    <div class="set-name"></div>
                    <div class="set-value">
                        <button class="btn-change" ng-click="set.createBankDetails()">Save</button>
                    </div>
                    <div style="clear: both;"></div>
                </div>

                <!-------------- Bank Details END ---------------->

                <hr style="opacity: 0.5;border: solid 1px #c7cad0;">

                <div class="set-details">
                    <div class="set-name">Logo : </div>
                    <div class="set-value">
                        <div class="fileUpload">
                            <span>Browse</span>
                            <input filestyle="" type="file" accept="image/*" image="image"
                                   onchange="set.processFiles(this);set.spinner = true;"
                                   uploader="uploader" class="form-control upload">
                        </div>
                        <div class="set-upload-text">Upload from file</div>
                        <div style="clear: both;"></div>
                    </div>
                    <div style="clear: both;"></div>
                </div>

                <div class="set-details">
                    <div class="set-name"> &nbsp; </div>
                    <div class="set-value">The size of the logo image will be constrained to a maximum 120 X 120px</div>
                    <div style="clear: both;"></div>
                </div>

            </div>

        </div>

        <div class="set-consignment-details">Consignment Details</div>

        <div class="row setting-row" ng-repeat="consign in set.consignmentData track by $index">

            <div class="col-lg-12 set-consign-no">Consignment : {{$index + 1}}</div>

            <hr style="opacity: 0.5;border: solid 1px #c7cad0;margin: 0px;">

            <div class="col-lg-12 set-merchant-block">

                <div class="row">

                    <!--<div class="col-xs-3 col-sm-2">-->
                        <!--<div class="set-merchant-que">Total Items</div>-->
                    <!--</div>-->

                    <div class="col-xs-3 col-sm-2">
                        <div class="set-merchant-que">{{consign.total_items}}</div>
                    </div>

                    <div class="col-xs-3 col-sm-2" ng-if="consign.minimum_gurantee">
                        <div class="set-merchant-que">Minimum Gurantee:</div>
                    </div>

                    <div class="col-xs-3 col-sm-2" ng-if="consign.minimum_gurantee">
                        <div class="set-merchant-que">₹ {{consign.minimum_gurantee}}</div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-xs-3 col-sm-2">
                        <div class="set-merchant-que">Total worth</div>
                    </div>

                    <div class="col-xs-3 col-sm-2">
                        <div class="set-merchant-que">₹ {{consign.outfit_total_worth}}</div>
                    </div>

                    <div class="col-xs-3 col-sm-2" ng-if="consign.security_deposit">
                        <div class="set-merchant-que">Security Deposit:</div>
                    </div>

                    <div class="col-xs-3 col-sm-2" ng-if="consign.security_deposit">
                        <div class="set-merchant-que">₹ {{consign.security_deposit}}</div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>





