<div class="modified-wrapper animated fadeInRight" ng-controller="droppedOffCtrl as doCtrl">

    <div class="col-lg-12" ng-show="doCtrl.spinner">
        <div class="spiner-example">
            <div class="sk-spinner sk-spinner-chasing-dots">
                <div class="sk-dot1"></div>
                <div class="sk-dot2"></div>
            </div>
        </div>
    </div>

    <div class="row droppedoff-top-row" ng-hide="doCtrl.spinner">

        <div class="col-lg-12">

            <div class="droppedoff-heading">Dropped Off</div>

            <div class="droppedoff-date-div">

                <div class="datepicker input-group"
                     date-set-hidden="true"
                     date-format="dd-MMM-yyyy"
                     date-typer="true"
                     button-prev='<i class="fa fa-arrow-circle-left"></i>'
                     button-next='<i class="fa fa-arrow-circle-right"></i>'>
                    <input type="text" class="angular-datepicker-input form-control droppedoff-input" ng-model="doCtrl.date"
                           onchange="doCtrl.getData()" readonly="readonly"/>
                </div>

            </div>

            <div style="clear: both;"></div>

        </div>

    </div>

    <div class="row order-data-row" ng-show="doCtrl.tableData">

        <div class="order-row printTable" ng-hide="doCtrl.spinner">

            <table datatable="ng" dt-options="doCtrl.dtOptions"
                   class="table table-striped table-bordered table-hover dataTables-example order-table">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Order Id</th>
                    <th>Item Id</th>
                    <th>Pickup date</th>
                    <th>Short Description</th>
                    <th>Created</th>
                    <th class="w-33">W-ID</th>
                    <th>Rental</th>
                    <th>MRP</th>
                    <th>SD</th>
                    <th>Next Order</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in doCtrl.tableData track by $index">

                    <td>
                        <img class="img-circle img-responsive w-40"
                             ng-src="{{main.urlList.cloudnary_url + data.image}}"/>
                    </td>
                    <td>{{data.order_id}}</td>
                    <td>{{data.item_id}}</td>
                    <td>{{data.pickup_date}}</td>
                    <td>{{data.short_description}}</td>
                    <td>{{data.created_on}}</td>
                    <td>{{data.warehouse_stack_id}}</td>
                    <td>{{data.rental}}</td>
                    <td>{{data.mrp}}</td>
                    <td>{{data.security_deposit}}</td>
                    <td ng-style="{color : !data.is_shipping_validated ? 'red' : ''}">{{data.next_order}}</td>

                </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>
