<div class="modified-wrapper animated fadeInRight" ng-controller="itemListCtrl as ilCtrl">

    <div class="col-lg-12" ng-show="ilCtrl.spinner">
        <div class="spiner-example">
            <div class="sk-spinner sk-spinner-chasing-dots">
                <div class="sk-dot1"></div>
                <div class="sk-dot2"></div>
            </div>
        </div>
    </div>

    <div class="row top-row" ng-hide="ilCtrl.spinner">

        <div class="col-lg-12">

            <div class="top-heading">Item List</div>

            <div class="item-category-div">

                <ui-select class="item-list-ui-select" ng-model="ilCtrl.category" theme="selectize"
                           on-select="ilCtrl.getData()">
                    <ui-select-match placeholder="Select Category...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="cate in ilCtrl.categoryArr | filter: $select.search">
                        <div ng-bind-html="cate.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>

            </div>

            <div style="clear: both;"></div>

        </div>

    </div>

    <div class="row order-data-row" ng-show="ilCtrl.tableData">

        <div class="printTable" ng-hide="ilCtrl.spinner">

            <div class="row" ng-if="ilCtrl.tableData.length">
                <div class="col-lg-12">
                    <button class="btn block il-unavailable-btn m-b" ng-click="ilCtrl.openModalMarkItemsUnavailble()">Mark Item Unavailable</button>
                    <!--<div style="clear: both"></div>-->
                </div>
            </div>

            <table datatable="ng" dt-options="ilCtrl.dtOptions"
                   class="table table-striped table-bordered table-hover dataTables-example order-table">
                <thead>
                <tr>
                    <th></th>
                    <th>Image</th>
                    <th>Short Description</th>
                    <th>Live at</th>
                    <th class="w-48">Item-id <br> (W-ID)</th>
                    <th>Rental</th>
                    <th>MRP</th>
                    <th>SD</th>
                    <th>Status</th>
                    <th>Circulation</th>
                    <th>Out of stock</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in ilCtrl.tableData track by $index" ng-if="data.is_in_circulation">

                    <td ng-click="ilCtrl.selectCheckbox(data)">
                        <div class="checkbox c-checkbox needsclick">
                            <label class="needsclick">
                                <i class="fa fa-square-o" ng-hide="data.checked"></i>
                                <i class="fa fa-check-square" ng-show="data.checked"></i>
                            </label>
                        </div>
                    </td>
                    <td>
                        <img class="img-circle img-responsive w-40"
                             ng-src="{{main.urlList.cloudnary_url + data.image}}"/>
                    </td>
                    <td>{{data.short_description}}</td>
                    <td>{{data.created_on | date}}</td>
                    <td>
                        {{data.item_id}}
                        <br>
                        ({{data.warehouse_stack_id}})
                    </td>
                    <td>{{data.rental}}</td>
                    <td>{{data.mrp}}</td>
                    <td>{{data.security_deposit}}</td>
                    <td>{{data.status}}</td>
                    <td>{{data.is_in_circulation}}</td>
                    <td>{{data.reason_out_stock}}</td>
                    <td class="text-center">
                        <a class="fa fa-custom-list" ng-click="ilCtrl.viewOrders(data.item_id)" title="View Orders"></a>
                        <a class="fa fa-custom-calendar" ng-click="ilCtrl.openModalForBlockDate(data.item_id,data.id)" title="Book Orders"></a>
                        <!--<button class="il-view-order-btn" ng-click="ilCtrl.viewOrders(data.item_id)">View Orders</button>-->
                        <!--<button class="il-block-date-btn" ng-click="ilCtrl.openModalForBlockDate(data.item_id,data.id)">Book Orders</button>-->
                    </td>

                </tr>
                </tbody>
            </table>

        </div>

    </div>


    <!----------------------------------------------
   ----------- modal to view orders ----------------
   ------------------------------------------------>
    <script type="text/ng-template" id="viewOrdersModal">
        <div class="ngdialog-message">
            <div class="ibox-content">

                <table datatable="ng" dt-options="ilCtrl.dtOptions"
                       class="table table-striped table-bordered table-hover dataTables-example order-table">
                    <thead>
                    <tr>
                        <th>Order-id</th>
                        <th>Status</th>
                        <th>User</th>
                        <th>Customer Delivery Date</th>
                        <th>Pickup Date</th>
                        <th>Drop-off Date</th>
                        <th>Cancel Order</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in ilCtrl.itemDataArr track by $index"
                        ng-if="data.blockedperiod_id">

                        <td>{{data.order_id}}</td>
                        <td ng-class="{'text-red' : data.status == 'CLD'}">{{data.status}}</td>
                        <td>{{data.recipient_name}}</td>
                        <td>
                            <span ng-if="data.delivery_date == 'Invalid date'">-</span>
                            <span ng-if="data.delivery_date != 'Invalid date'">{{data.delivery_date | date}}</span>
                        </td>
                        <td>
                            <span ng-if="data.pickup_from_vendor == 'Invalid date'">-</span>
                            <span ng-if="data.pickup_from_vendor != 'Invalid date'">{{data.pickup_from_vendor | date}}</span>
                        </td>
                        <td>
                            <span ng-if="data.drop_to_vendor == 'Invalid date'">-</span>
                            <span ng-if="data.drop_to_vendor != 'Invalid date'">{{data.drop_to_vendor | date}}</span>
                        </td>
                        <td>
                                <button type="submit" class="btn block m-b il-cancel-btn"
                                        ng-if="data.order_id == null" ng-click="ilCtrl.cancelOrder(data.blockedperiod_id)">
                                    Cancel Order
                                </button>
                        </td>

                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </script>

    <!----------------------------------------------
    ----------- modal to block dates ---------------
    ------------------------------------------------>
    <script type="text/ng-template" id="blockDateModal">
        <div class="ngdialog-message">
            <div class="ibox-content">

                <div class="row">

                    <div class="col-lg-12">

                        <form class="m-t" role="form" validate-form="" novalidate="" name="loginForm" ng-submit="ilCtrl.blockDates()">

                            <div class="form-group il-form-div">
                                <label>Select Start Date<span class="text-red">*</span> </label>
                                <div class="datepicker input-group date"
                                     date-set-hidden="true"
                                     date-format="yyyy-MM-dd"
                                     date-min-limit={{main.currentDate}}
                                     date-disabled-dates={{ilCtrl.disabledStartDatesArr}}
                                     date-typer="true"
                                     button-prev='<i class="fa fa-arrow-circle-left"></i>'
                                     button-next='<i class="fa fa-arrow-circle-right"></i>'>
                                    <input type="text" placeholder="Select Start Date"
                                           class="angular-datepicker-input form-control custom-cursor-bg"
                                           ng-model="ilCtrl.startDate"
                                           onchange="ilCtrl.endDate='';ilCtrl.deliveryDate='';ilCtrl.changeStartDate(ilCtrl.startDate);
                                                    ilCtrl.sdate_error_flag = false;"
                                           required="required"
                                           readonly=""/>
                                    <span class="custom-error" ng-if="ilCtrl.startDate && ilCtrl.sdate_error_flag">This date should be less than {{ilCtrl._4_plus_month}}</span>
                                </div>
                            </div>

                            <div class="form-group il-form-div">
                                <label>Select End Date<span class="text-red">*</span></label>
                                <div class="datepicker input-group date"
                                     date-set-hidden="true"
                                     date-format="yyyy-MM-dd"
                                     date-min-limit={{ilCtrl.startDate}}
                                     date-max-limit={{ilCtrl.lastDate}}
                                     date-typer="true"
                                     button-prev='<i class="fa fa-arrow-circle-left"></i>'
                                     button-next='<i class="fa fa-arrow-circle-right"></i>'>
                                    <input type="text" placeholder="Select End Date"
                                           class="angular-datepicker-input form-control custom-cursor-bg"
                                           ng-model="ilCtrl.endDate"
                                           onchange="ilCtrl.deliveryDate='';ilCtrl.edate_error_flag=false;"
                                           required="required"
                                           readonly=""/>
                                    <span class="custom-error" ng-if="ilCtrl.endDate && ilCtrl.edate_error_flag">This date should be less than or equal to {{ilCtrl._4_plus_month}}</span>
                                </div>
                            </div>

                            <div class="form-group il-form-div">
                                <label>Select Delivery Date<span class="text-red">*</span></label>
                                <div class="datepicker input-group date"
                                     date-set-hidden="true"
                                     date-format="yyyy-MM-dd"
                                     date-min-limit={{ilCtrl.startDate}}
                                     date-max-limit={{ilCtrl.endDate}}
                                     date-typer="true"
                                     button-prev='<i class="fa fa-arrow-circle-left"></i>'
                                     button-next='<i class="fa fa-arrow-circle-right"></i>'>
                                    <input type="text" placeholder="Select Delivery Date"
                                           class="angular-datepicker-input form-control custom-cursor-bg"
                                           ng-model="ilCtrl.deliveryDate"
                                           required="required"
                                           readonly=""/>
                                </div>
                            </div>

                            <br>
                            <br>

                            <button type="submit" class="btn block m-b login-submit-btn">Block Date</button>

                        </form>

                    </div>

                </div>


            </div>
        </div>
    </script>


    <script type="text/ng-template" id="unavailableMsgModal">
        <div class="ngdialog-message">
            <div class="ibox-content">

                <div class="row">
                    <div class="col-lg-12">
                        Item(s) that are being marked unavailable & have future order(s) may be charged a penalty. Do you still wish to continue?
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button class="btn il-btn-cancel"
                                ng-click="closeThisDialog(0)">Cancel</button>
                        <button class="btn il-btn-yes"
                                ng-click="ilCtrl.markItemsUnavailble()">Yes, Sure</button>

                    </div>
                </div>

            </div>
        </div>
    </script>

</div>
