<div class="footer">
    <!--<div class="pull-right">
        10GB of <strong>250GB</strong> Free.
    </div>-->
    <div>
        <strong>Copyright</strong> FLYROBE&copy; 2016-2017
    </div>
</div>
