<nav class="navbar-default navbar-static-side" role="navigation" style="height: 100%;">
    <div class="sidebar-collapse" style="height: 100%;">


        <ul side-navigation class="nav metismenu upper-ul navlist" id="side-menu">
            <li class="nav_header" ui-sref-active="active">
                <a class="navigation-a">
                    <img ng-src="{{main.urlList.web_url + 'flyrobeWhite.png'}}" class="nav-logo">
                </a>
            </li>
            <li ui-sref-active="active" class="step2"
                ng-if="main.merchant_user_details.type.indexOf('PRI') >= 0 || main.merchant_user_details.type.indexOf('C2C') >= 0 ||
                       main.merchant_user_details.type.indexOf('B2C') >= 0 || main.merchant_user_details.type.indexOf('B2B') >= 0">
                <a ui-sref="merchant.home" class="navigation-a">
                    <i class="fa fa-home"></i>
                    <div class="nav-label">{{ 'Home' | translate }}</div>
                </a>
            </li>
            <li ui-sref-active="active" class="step3"
                ng-if="main.merchant_user_details.type.indexOf('PRI') >= 0 || main.merchant_user_details.type.indexOf('C2C') >= 0 ||
                       main.merchant_user_details.type.indexOf('B2C') >= 0 || main.merchant_user_details.type.indexOf('B2B') >= 0">
                <a ui-sref="merchant.orders" class="navigation-a">
                    <i class="fa fa-orders"></i>
                    <div class="nav-label">{{ 'SKU Details' | translate }}</div>
                </a>
            </li>
            <li ui-sref-active="active" class="step9" ng-if="main.merchant_user_details.type.indexOf('C2C') >= 0">
                <a ui-sref="merchant.assetsTracking" class="navigation-a">
                    <i class="fa fa-reports"></i>
                    <div class="nav-label">{{ 'Assets Tracking' | translate }}</div>
                </a>
            </li>
            <li ui-sref-active="active" class="step10" ng-if="main.merchant_user_details.type.indexOf('C2C') >= 0">
                <a ui-sref="merchant.faq" class="navigation-a">
                    <i class="fa fa-question"></i>
                    <div class="nav-label">{{ 'FAQ' | translate }}</div>
                </a>
            </li>
            <!--<li ui-sref-active="active">-->
                <!--<a ui-sref="merchant.reports" class="navigation-a">-->
                    <!--<i class="fa fa-reports"></i>-->
                    <!--<div class="nav-label">{{ 'Reports' | translate }}</div>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li ui-sref-active="active" class="step4" style="display: none;">
                <a ui-sref="merchant.payment" class="navigation-a">
                    <i class="fa fa-payment"></i>
                    <div class="nav-label">{{ 'Payment' | translate }}</div>
                </a>
            </li>-->
            <li ui-sref-active="active" class="step4" ng-if="main.merchant_user_details.type.indexOf('B2B') >= 0">
                <a ui-sref="merchant.pickedUp" class="navigation-a">
                    <i class="fa fa-pickup"></i>
                    <div class="nav-label">{{ 'Pickups' | translate }}</div>
                </a>
            </li>
            <li ui-sref-active="active" class="step4" ng-if="main.merchant_user_details.type.indexOf('B2B') >= 0">
                <a ui-sref="merchant.droppedOff" class="navigation-a">
                    <i class="fa fa-drop-off"></i>
                    <div class="nav-label">{{ 'Drop-offs' | translate }}</div>
                </a>
            </li>
            <li ui-sref-active="active" class="step4" ng-if="main.merchant_user_details.type.indexOf('B2B') >= 0">
                <a ui-sref="merchant.itemList" class="navigation-a">
                    <i class="fa fa-item-list"></i>
                    <div class="nav-label">{{ 'Item List' | translate }}</div>
                </a>
            </li>
            <li ui-sref-active="active" class="step_pts_1" ng-if="main.merchant_user_details.type.indexOf('PTS') >= 0">
                <a ui-sref="merchant.placeOrder" class="navigation-a">
                    <i class="fa fa-place-order"></i>
                    <div class="nav-label">{{ 'Place Order' | translate }}</div>
                </a>
            </li>
            <li ui-sref-active="" class="step_pts_4" ng-if="main.merchant_user_details.type.indexOf('PTS') >= 0">
                <a ui-sref="merchant.salesReport" class="navigation-a">
                    <i class="fa fa-sales-report"></i>
                    <div class="nav-label">{{ 'Sales Report' | translate }}</div>
                </a>
            </li>
            <li ui-sref-active="" class="step_pts_5" ng-if="main.merchant_user_details.type.indexOf('PTS') >= 0">
                <a ui-sref="merchant.viewInventory" class="navigation-a">
                    <i class="fa fa-view-inventory"></i>
                    <div class="nav-label">{{ 'View Inventory' | translate }}</div>
                </a>
            </li>
        </ul>

        <ul side-navigation class="nav metismenu lower-ul navlist">
            <li ui-sref="merchant.setting" class="step5">
                <a class="navigation-a">
                    <i class="fa fa-setting"></i>
                    <div class="nav-label">{{ 'Settings' | translate }}</div>
                </a>
            </li>
            <li ui-sref-active="active">
                <a class="navigation-a" ng-click="main.logout()">
                    <i class="fa fa-logout"></i>
                    <div class="nav-label">{{ 'Logout' | translate }}</div>
                </a>
            </li>
            <li>
                <a class="navigation-a" ng-click="main.startTour()" class="step9">
                    <i class="fa fa-tour"></i>
                    <div class="nav-label">{{ 'Take a Tour' | translate }}</div>
                </a>
            </li>
        </ul>

    </div>
</nav>
