<style>
    .rightSidebarIbox {
         margin-bottom: 0px;
    }
</style>

<div id="right-sidebar" ng-show="rightSidebar" class="sidebar-open">
    <div class="sidebar-container" full-scroll>

    </div>
</div>