<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">

        <div style="text-align: center;">
            <a title="Refresh"><span class="fa fa-refresh" ng-click="$state.reload()"></span></a>
        </div>

        <div class="navbar-header nav-top minimize">
            <span minimaliza-sidebar></span> <h2><b>{{main.flyrobeState}}</b></h2>
        </div>
        <ul class="nav navbar-top-links navbar-right nav-top">
            <li>
                <h2>{{main.email}}</h2>
            </li>
            <li>
                <a ui-sref="changePassword" title="Change Password">
                    <i class="fa fa-star"></i>
                </a>
            </li>
            <!--<li>-->
                <!--<a ng-click="$root.rightSidebar = !$root.rightSidebar">-->
                    <!--<i class="fa fa-tasks"></i>-->
                <!--</a>-->
            <!--</li>-->
        </ul>

    </nav>
</div>