<!--
************* Created by Surbhi Goel **************
-->

<div ng-controller="loginCtrl as login">

    <div class="middle-box text-center loginscreen  animated fadeInDown">

        <div class="panel panel-dark panel-flat">

            <div>
                <h1 class="logo-name">
                    <img alt="image" class="img" src="http://flyrobe.com/assets/img/logo.png" style="width:60%;"/>
                </h1>
            </div>

            <div class="panel-heading text-center">
                <h3>Login to the Portal</h3>
            </div>

            <div class="panel-body">

                <form class="m-t" role="form" validate-form="" novalidate="" name="loginForm" ng-submit="login.loginToDashboard()">

                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" placeholder="Email Address" ng-model="login.account.email" required="required">
                    </div>

                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" placeholder="Password" ng-model="login.account.password" required="required">
                    </div>

                    <div class="form-group checkbox c-checkbox pull-left mt0">
                        <label class="remember-me">
                            <input type="checkbox" value="" name="remember" ng-model="login.stayLoggedIn"/>
                            Remember Me</label>
                    </div>
                    <div style="clear: both;"></div>

                    <button type="submit" class="btn block m-b login-submit-btn" ng-hide="login.spinners">SIGN IN</button>

                </form>

                <div class="sk-spinner sk-spinner-chasing-dots" ng-show="login.spinners">
                    <div class="sk-dot1"></div>
                    <div class="sk-dot2"></div>
                </div>

                <div ui-sref="recover" class="lg-forgot-password">Forgot Password ?</div>

            </div>

        </div>

    </div>

    <script type="text/ng-template" id="agreement">
        <div class="ngdialog-message">
            <div class="ibox-content text-center">
                <embed src="views/pages/c2c-agreement.pdf" type="application/pdf" class="login-agreement">
                    <button type="submit" class="btn block m-b login-submit-btn" ng-click="closeThisDialog(0);login.acceptAgreement()">Accept</button>
            </div>
        </div>
    </script>

</div>