<!--
************* Forgot Password Screen **************
-->

<div class="middle-box text-center loginscreen  animated fadeInDown" ng-controller="loginCtrl as login">

   <div class="panel panel-dark panel-flat">

      <div>
         <h1 class="logo-name">
            <img alt="image" class="img" src="http://flyrobe.com/assets/img/logo.png" style="width:60%;"/>
         </h1>
      </div>

      <div class="panel-heading text-center">
         <div class="recover-heading">Recover Password</div>
      </div>

      <div class="panel-body">

         <!-- Forgot Password form start -->
         <form role="form" ng-submit="login.recover()" validate-form="" novalidate="" class="m-t" ng-hide="login.rSuccessMsg">

            <div class="form-group has-feedback">
               <label class="recover-label">Enter Email address</label>
               <div style="clear: left;"></div>
               <input type="email" placeholder="Enter email" class="form-control" ng-model="login.account.recoverEmail" required="required"/>
            </div>

            <button type="submit" class="btn recover-submit-btn" ng-show="!login.forgotSpinners">SUBMIT</button>

            <div class="sk-spinner sk-spinner-chasing-dots" ng-show="login.forgotSpinners">
               <div class="sk-dot1"></div>
               <div class="sk-dot2"></div>
            </div>

         </form>
         <!-- Forgot Password form end -->

      </div>

      <div ng-show="login.rSuccessMsg" class="resetSuccessfulMsg text-center">{{login.rSuccessMsg}}</div>

   </div>

</div>