<!--
************* Created by Surbhi Goel **************
-->

<div ng-controller="forgotResetCtrl as freset" class="middle-box text-center loginscreen  animated fadeInDown">

    <div class="panel panel-dark panel-flat">

        <div>
            <h1 class="logo-name">
                <img alt="image" class="img" src="http://flyrobe.com/assets/img/logo.png" style="width:60%;"/>
            </h1>
        </div>

        <div class="panel-heading text-center">
            <h3>Reset Password</h3>
        </div>

        <div class="panel-body">
            <form class="m-t" validate-form="" novalidate="" role="form" name="fresetForm" ng-submit="freset.resetEmailPassword()">

                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Old Password" ng-model="freset.mailAcc.oldPassword" required="required">
                </div>
                
                <div class="form-group has-feedback">
                    <input id="changePwd" type="password" class="form-control" placeholder="Enter new password" ng-model="freset.mailAcc.newPassword" required="required">
                </div>

                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Re type new password" data-parsley-equalto="#changePwd" ng-model="freset.mailAcc.rePassword" required="required">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn block m-b freset-submit-btn" ng-hide="freset.spinners">UPDATE PASSWORD</button>
                </div>

            </form>
            <div class="sk-spinner sk-spinner-chasing-dots" ng-show="freset.spinners">
                <div class="sk-dot1"></div>
                <div class="sk-dot2"></div>
            </div>
        </div>

    </div>

</div>

